@import './fab.scss';
@import './iconbutton.scss';

.btn {
  font-size: 1rem;
  @include flex(center, center);
  i, .mdi {
    font-size: inherit;
  }
  &.btn-xs {
    font-size: 0.75rem;
  }
  &.btn-sm {
    font-size: 0.85rem;
  }

  > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &.btn-default {
    color: rgba($black, 0.8);
    &:hover {
      background-color: rgba($black, 0.05);
    }
  }

  &[disabled] {
    opacity: 0.25;
  }

  &.unresponsive {
    @media #{$responsive-phone} {
      flex-grow: 1;
      @include flex(center, center);
      margin: 0;
      > span {
        display: inline-block !important;
      }
    }
  }
}