.fab {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1001;
  animation-name: fab-show;
  animation-duration: 0.15s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  -webkit-backface-visibility: hidden;

  @media #{$responsive-phone} {
    bottom: 2.5rem;
  }

  > button {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 1.5rem;
    @include flex(center, center);
    background-color: $primary-color;
    color: $white;
    box-shadow: 0 0.1rem 0.5rem 0 rgba($black, 0.35);
    transition: background-color 0.15s ease-out, color 0.15s ease-out, box-shadow 0.15s ease-out;
    position: relative;
    z-index: 1001;
    outline: none;

    &:hover {
      background-color: darken($primary-color, 10%);
      box-shadow: 0 0.2rem 0.5rem 0 rgba($black, 0.75);
    }

    > i, .mdi {
      font-size: 2rem;
      line-height: 1;
    }

    &:focus {
      border-color: rgb(255, 219, 131);
      box-shadow: 0 0 0 0.2rem rgba(255, 183, 3, 0.25);
    }
  }

  .menu-icons {
    padding: 0;
    width: unquote('min(420px, calc(100vw - 4rem))');
    display: none;
    transform-origin: bottom right;
    box-shadow: 0 0.1rem 0.5rem 0 rgba($black, 0.35);

    .dropdown-menu-container {
      @include applyScrollbar();
      width: 100%;
      max-height: unquote('min(calc(var(--vh, 1vh) * 100 - #{$navbar-height} - #{$contentToolbar-height} - 1rem), 480px)');
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;
    }
    .icon-list {
      padding: 1rem;
      width: 100%;
      height: auto;
      @include flex(center, center, row);
      flex-wrap: wrap;
    }

    &.show {
      display: block;
      animation: grow-in 0.15s ease-out 1 both;
    }

    .iconbtn {
      @include flex(center, center, column);
      width: calc(33.3334% - 2rem);
      height: 6rem;
      margin: 0.5rem;
      padding: 0 0.5rem;
      border-radius: 0.25rem;
      border: none;
      background-color: rgba($black, 0);
      outline: none;

      > i, .mdi {
        font-size: 2rem;
      }

      > span {
        line-height: 1.4;
        white-space: normal;
      }

      &:hover {
        background-color: rgba($black, 0.1);
      }
    }
  }
}

@keyframes grow-in {
  0% {
    transform: scale(0) translateY(3rem);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(1.5rem);
    opacity: 1;
  }
}

// EVENTS

body.show-context {
  .fab {
    @media #{$responsive-phone} {
      display: none;
    }
  }
}

body.show-viewlist-context {
  .fab {
    animation-name: fab-hide;
    animation-duration: 0.15s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
}

@keyframes fab-hide {
  0% {
    transform: translateY(0px);
    pointer-events: auto;
  }
  99% {
    transform: translateY(6rem);
    pointer-events: auto;
  }
  100% {
    transform: translateY(6rem);
    pointer-events: none;
  }
}

@keyframes fab-show {
  0% {
    transform: translateY(6rem);
    pointer-events: none;
  }
  1% {
    transform: translateY(6rem);
    pointer-events: auto;
  }
  100% {
    transform: translateY(0px);
    pointer-events: auto;
  }
}