.iconbtn {
  @include flex(center, center, column);
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 50%;
  border: none;
  background-color: rgba($black, 0);
  font-size: 1rem;
  outline: none;

  > i, .mdi {
    font-size: 1.2rem;
    line-height: 1;
    color: rgba($black, 0.8);
  }

  > span {
    margin-top: 0.25rem;
    text-align: center;
    line-height: 1;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: rgba($black, 0.8);
  }

  &:hover {
    background-color: rgba($black, 0.1);
  }

  &:focus {
    border-color: rgb(255, 219, 131);
    box-shadow: 0 0 0 0.2rem rgba(255, 183, 3, 0.25);
  }

  &.lg {
    > i, .mdi {
      font-size: 2rem;
    }
  }

  &.sm {
    > i, .mdi {
      font-size: 1rem;
    }
  }

  &.xs {
    > i, .mdi {
      font-size: 0.8rem;
    }
  }

  &.primary {
    > i, .mdi {
      color: $primary-color;
    }
  }

  &.secondary {
    > i, .mdi {
      color: $secondary-color;
    }
  }

  &.success {
    > i, .mdi {
      color: $success;
    }
  }

  &.info {
    > i, .mdi {
      color: $info;
    }
  }

  &.warning {
    > i, .mdi {
      color: $warning;
    }
  }

  &.danger {
    > i, .mdi {
      color: $danger;
    }
  }
}