.iconbtn {
  @include flex(center, center, column);
  min-width: 3rem;
  min-height: 3rem;
  padding: 0.5rem;
  border-radius: 0.25rem;

  > i, .mdi {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 0.25rem;
    color: $secondary-color;
  }

  > span {
    text-align: center;
    line-height: 1;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: rgba($black, 0.5);
  }

  &:hover {
    background-color: rgba($black, 0.1);
  }
}