* ,
*:before ,
*:after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@media #{$responsive-phone} {
		// word-break: break-all;
		// hyphens: auto;
	}
}

*::selection {
	background-color: $tertiary-color;
	color: $white;
}

html {
	font-size: $base-font-size;
}

body {
	position: relative;
	margin: 0;
	color: $body-textcolor;
	// overflow-x: hidden;
	width: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	overflow: hidden;
	background-color: $body-bgcolor;
	padding: 0;

	// @include applyScrollbar;
	overflow: hidden;

	@media #{$responsive-tablet} {
		padding-top: $navbar-height !important;
	}

	> app {
		padding: 0 !important;
		margin: 0 !important;
		max-width: 100% !important;
		position: relative;
		display: block;
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
		overflow: hidden;

		> .main {
			height: calc(100vh); /* Fallback for browsers that do not support Custom Properties */
			height: calc(var(--vh, 1vh) * 100);
			overflow: hidden;
			@media #{$responsive-phone} {
				height: calc(100vh - #{$navbar-height}); /* Fallback for browsers that do not support Custom Properties */
				height: calc(var(--vh, 1vh) * 100 - #{$navbar-height});
			}
		}
	}
}

body.body-no-scroll {
	overflow-y: hidden;
}

.container {
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	margin-right: auto;
	margin-left: auto;
}

.align {
	&--left {
		text-align: left !important;
	}
	&--right {
		text-align: right !important;
	}
	&--center {
		text-align: center !important;
	}
}

.text {
	&--normal {
		font-weight: normal !important;
	}
	&--bold {
		font-weight: bold !important;
	}
	&--italic {
		font-style: italic !important;
	}
	&--underline {
		text-decoration: underline !important;
	}
	&--large {
		font-size: 1.25rem;
	}
	&--small {
		font-size: 0.8rem;
	}
}

a {
	color: $primary-color;
	outline: none !important;
	text-decoration: none !important;

	&:hover {
		color: darken($primary-color, 20%);
	}
}

.btn {
	text-transform: uppercase;
	@include flex(flex-start, center);

	i {
		font-size: 2rem;
		line-height: 1;
	}

	span {
		margin-left: 1rem;
	}

	@media #{$responsive-phone} {
		font-size: 1.4rem;
	}
}

.input-group {
	@include flex(flex-start, stretch);
	input {
		height: auto;
	}
}

.blockquote {
	border: 1px solid $gray;
	background-color: rgba($lightgray, 0.5);
	width: 100%;
	padding: 1rem 2rem;
	@include flex(flex-start, flex-start);
	font-size: 1rem;
}

.border-bottom {
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid $lightgray;
}
.border-top {
	padding-top: 1rem;
	margin-top: 1rem;
	border-top: 1px solid $lightgray;
}

.main {
	display: grid;
}

.dropdown-menu.datepicker {
	font-size: 1rem;
	box-shadow: 0 0.25rem 0.5rem 0 rgba($black, 0.5);

	td, th {
    width: 2.5rem;
    height: 2rem;
	}
	.datepicker-days, .datepicker-months, .datepicker-years, .datepicker-decades, .datepicker-centuries {
		table {
			width: unquote('min(calc(100vw - 3rem), 320px)');
		}
	}
	table {
		tr {
			td {
				span {
					width: 23%;
				}
			}
		}
	}
}

@media #{$responsive-tablet} {
	.ps__rail-y, .ps__rail-x {
		pointer-events: none;
	}
}

.quote {
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	display: block;
	background-color: rgba($black, 0.05);
	border: 1px solid rgba($black, 0.15);
}

.content-title {
	border-bottom: 1px solid rgba($black, 0.1);
	margin-bottom: 1rem;
	min-height: calc(#{$contentToolbar-height});
	@include flex(flex-start, center);
	flex-wrap: nowrap;

	&.clean {
		margin-bottom: 0;
		border-bottom: none;
		min-height: calc(#{$contentToolbar-height} - 1px);
	}

	@media #{$responsive-tablet} {
		@include flex(center, flex-start, column);
		padding: 1rem 0;
	}

	h1, h2, h3, h4, h5 {
		flex-grow: 1;
		text-align: left;
		margin: 0;
		@media #{$responsive-tablet} {
			flex-grow: 0;
			margin-bottom: 0.5rem;
		}
	}

	.content-title-extra {
		text-align: left;
		margin: 0;
		color: rgba($black, 0.5);
		font-size: 0.8rem;
		&:not(:last-of-type) {
			margin-right: 1rem;
		}
		@media #{$responsive-tablet} {
			text-align: left;
			margin: 0;
		}
	}
}
.ajaxloader {
	width: 100%;
	min-height: 8rem;
	> div {
		height: 3rem;
		width: 3rem;
		border-radius: 50%;
		background-color: rgba($black, 0.8);
		color: $white;
		@include flex(center, center);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		> div {
			height: 2rem;
			width: 2rem;
			border-radius: 50%;
			border: 0.3rem solid $primary-color;
			border-top-color: transparent;
			display: block;
			animation: ajaxloaderspin 1s linear infinite;
		}
	}
}
.mobile-preloader {
	width: calc(var(--vw, 1vw) * 100);
	height: calc(var(--vh, 1vh) * 100);
	@include flex(center, center);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4000;
	opacity: 1;
	transition: opacity 0.3s ease-out;
	background-color: rgba($black, 0.2);
	pointer-events: all;
	animation: mobile-preloader-hide 0.15s ease-out 1 forwards;
	> div {
		height: 3rem;
		width: 3rem;
		border-radius: 50%;
		background-color: rgba($black, 0.8);
		color: $white;
		@include flex(center, center);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		> div {
			height: 2rem;
			width: 2rem;
			border-radius: 50%;
			border: 0.3rem solid $primary-color;
			border-top-color: transparent;
			display: block;
			animation: ajaxloaderspin 1s linear infinite;
		}
	}
}
body.page-loading {
	@media #{$responsive-phone} {
		.mobile-preloader {
			animation: mobile-preloader-show 0.5s ease-out 1 forwards;
		}
	}
}
@keyframes mobile-preloader-show {
	0% {
		pointer-events: none;
		opacity: 0;
	}
	1% {
		pointer-events: all;
		opacity: 0;
	}
	100% {
		pointer-events: all;
		opacity: 1;
	}
}
@keyframes mobile-preloader-hide {
	0% {
		pointer-events: all;
		opacity: 1;
	}
	99% {
		pointer-events: all;
		opacity: 0;
	}
	100% {
		pointer-events: none;
		opacity: 0;
	}
}
@keyframes ajaxloaderspin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}