
              
              <div class='list-item-actions dropdown'>
                <button type='button' class='list-item-actions-button dropdown-button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class='mdi mdi-filter-variant'></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <h6 class="dropdown-header">Show entries per page</h6>
                  <button type='button' class="dropdown-item" data-value='10'>
                    10 Entries
                  </button>
                  <button type='button' class="dropdown-item" data-value='20'>
                    20 Entries
                  </button>
                  <button type='button' class="dropdown-item" data-value='50'>
                    50 Entries
                  </button>
                  <button type='button' class="dropdown-item" data-value='100'>
                    100 Entries
                  </button>
                  <div class="dropdown-divider"></div>
                  <button type='button' class="dropdown-item" data-value='-1'>
                    Show All
                  </button>
                </div>
              </div>