
              
              <div class='list-item-actions dropdown'>
                <button type='button' class='list-item-actions-button dropdown-button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class='mdi mdi-dots-vertical'></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item">
                    <i class='mdi mdi-check'></i>
                    Done
                  </button>
                  <button class="dropdown-item">
                    <i class='mdi mdi-close'></i>
                    Cancel
                  </button>
                  <button class="dropdown-item">
                    <i class='mdi mdi-cash'></i>
                    Payment
                  </button>
                  <div class="dropdown-divider"></div>
                  <button class="dropdown-item">
                    <i class='mdi mdi-bell'></i>
                    Alert On/Off
                  </button>
                  <button class="dropdown-item">
                    <i class='mdi mdi-message-reply-text'></i>
                    Send SMS
                  </button>
                  <div class="dropdown-divider"></div>
                  <button class="dropdown-item">
                    <i class='mdi mdi-account-cash'></i>
                    Add Charge
                  </button>
                  <button class="dropdown-item">
                    <i class='mdi mdi-cash-refund'></i>
                    Add Adjustment
                  </button>
                  <div class="dropdown-divider"></div>
                  <button class="dropdown-item">
                    <i class='mdi mdi-account-edit-outline'></i>
                    Edit Patient
                  </button>
                  <button class="dropdown-item">
                    <i class='mdi mdi-account-switch'></i>
                    Replace Patient
                  </button>
                  <button class="dropdown-item">
                    <i class='mdi mdi-calendar'></i>
                    Change Appointment
                  </button>
                </div>
              </div>