
  <div class='sort dropdown'>
    <a href='#' class='sort-button dropdown-button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class='mdi mdi-filter-variant'></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <button class="dropdown-item">
        <i class='mdi mdi-sort-ascending'></i>
        Sort Ascending
      </button>
      <button class="dropdown-item">
        <i class='mdi mdi-sort-descending'></i>
        Sort Descending
      </button>
    </div>
  </div>