<div class='filter'>
  <div class='input-field dateselect'>
    <a class="dateselect-icon" href="#">
      <i class='mdi mdi-calendar-search'></i>
    </a>
    <input type="text" class="form-control current" data-toggle='datepicker' placeholder="Select Date" aria-label="Search">
  </div>

  <%- include('dropdown/sort-numeric-dropdown'); -%>
</div>