<div class='filter'>
  <div class='input-field search'>
    <div class="search-icon">
      <i class='mdi mdi-magnify'></i>
    </div>
    <input type="text" class="form-control" placeholder="Search" aria-label="Search">
    <a class="clear" href="#">
      <i class='mdi mdi-close-circle'></i>
    </a>
  </div>
  <div class='sort dropdown'>
    <a href='#' class='sort-button' data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
      <i class='mdi mdi-filter-variant'></i>
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">
        <i class='mdi mdi-sort-alphabetical-ascending'></i>
        Sort Ascending
      </a>
      <a class="dropdown-item" href="#">
        <i class='mdi mdi-sort-alphabetical-descending'></i>
        Sort Descending
      </a>
    </div>
  </div>
</div>