<!-- END OF FOOTER -->
</app>
<!-- MODULES -->
<script src='/js/modules/jquery.min.js'></script>
<script src='/js/modules/observable-slim.js'></script>
<script src='/js/modules/pdfjs.js'></script>
<!-- BUNDLED SCRIPT -->
<script src="js/bundle.js"></script>
<script src="js/script.js"></script>
</body>
</html>