<!-- NAVBAR -->
<div class='navbar'>
  <div class='navbar-left'>
    <div class='content-controls'>
      <a href='#' class='control-hide'>
        <i class='mdi mdi-arrow-left'></i>
      </a>
    </div>
    <a href='#' class='burger'>
      <i class='mdi mdi-menu'></i>
    </a>
  </div>
  <div class='navbar-center'><p class='title-place'></p></div>
  <div class='navbar-right'>
    <div class='navbar-actions'>
      <div class='account-button dropdown'>
        <div class='avatar xs' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src='/img/default_photo.jpg' />
        </div>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">Change Password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>