<!-- SIDEBAR -->
<div class='sidebar'>
  <div class='sidebar-content'>
    <a class="sidebar-toolbar" href="/">
      <img src="/img/logo_dark.png" width="95" height="30" alt="" loading="lazy">
    </a>
    <div class="list-group list-group-flush">
      <a href="/" class='list-group-item list-group-item-action <% if (__PAGE__ === 'patients') { %>active<% } %>'>
        <i class='mdi mdi-account'></i>
        <span>Patients</span>
      </a>
      <a href="/inventory.html" class='list-group-item list-group-item-action <% if (__PAGE__ === 'inventory') { %>active<% } %>'>
        <i class='mdi mdi-dresser'></i>
        <span>Inventory</span>
      </a>
      <a href="#" class='list-group-item list-group-item-action <% if (__PAGE__ === 'cashering') { %>active<% } %>'>
        <i class='mdi mdi-point-of-sale'></i>
        <span>Cashering</span>
      </a>
      <a href="#" class='list-group-item list-group-item-action <% if (__PAGE__ === 'settings') { %>active<% } %>'>
        <i class='mdi mdi-cog'></i>
        <span>Settings</span>
      </a>
    </div>
  </div>
  <div class='sidebar-overlay'></div>
</div>