  <div class="modal" id="dynamicDialog" tabindex="-1" aria-labelledby="dynamicDialogLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class='modal-skin'>
        <button type='button' class='close' data-dismiss="modal" aria-label="Close"><i class='mdi mdi-close'></i></button>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="dynamicDialogLabel">Dialog Title</h5>
          </div>
          <div class="modal-body">
            <p>loading content...</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-close-btn">
              <i class="mdi mdi-close"></i>
              <span>Close</span>
            </button>
            <button type="button" class="btn btn-info" id="modal-print-btn">
              <i class="mdi mdi-printer"></i>
              <span>Print</span>
            </button>
            <button type="button" class="btn btn-success" id="modal-save-btn">
              <i class="mdi mdi-check"></i>
              <span>Save</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>