<div class="modal tier-2" id="newMedsModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="newMedsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class='modal-skin'>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class='mdi mdi-close'></i></button>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newMedsModalLabel">New Medical Prescription</h5>
        </div>
        <div class="modal-body">
          <%- include('../panels/new-meds-form') -%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <i class="mdi mdi-close"></i>
            <span>Cancel</span>
          </button>
          <button type="button" class="btn btn-info">
            <i class="mdi mdi-plus"></i>
            <span>Add</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>