<div class="modal fade" id="warehouseItemModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="warehouseItemModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class='modal-skin'>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class='mdi mdi-close'></i></button>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="warehouseItemModalLabel">Item Lookup</h5>
        </div>
        <div class="modal-body">
          <%- include('../panels/inventory-items-dialog-content') -%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <i class="mdi mdi-close"></i>
            <span>Cancel</span>
          </button>
          <button type="button" class="btn btn-info">
            <i class="mdi mdi-plus"></i>
            <span>Add</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>