<div class="page">
  <div class="pdf-viewer">
    <div class="pdf-viewer-toolbar toolbar">
      <div class="pdf-viewer-control">
        <button class="btn btn-default pdf-viewer-prev">
          <i class="mdi mdi-chevron-left"></i>
          <span>Prev</span>
        </button>
        <div class="pdf-viewer-pagestuff">
          <div class="pdf-viewer-pagenum">-</div>
          <small>OF</small> 
          <div class="pdf-viewer-pagecount">-</div>
        </div>
        <button class="btn btn-default pdf-viewer-next">
          <span>Next</span>
          <i class="mdi mdi-chevron-right"></i>
        </button>
      </div>
      <div class="pdf-viewer-control zoom">
        <button class="btn btn-default pdf-viewer-zoomout">
          <i class="mdi mdi-minus"></i>
        </button>
        <button class="btn btn-default pdf-viewer-zoomreset">
          <i class="mdi mdi-refresh"></i>
        </button>
        <button class="btn btn-default pdf-viewer-zoomin">
          <i class="mdi mdi-plus"></i>
        </button>
      </div>
      <div class="pdf-viewer-control output">
        <a href='/docs/sample-pdf.pdf' download="sample-pdf.pdf" class="btn btn-warning pdf-viewer-download">
          <i class="mdi mdi-download"></i>
        </a>
        <button class="btn btn-info pdf-viewer-print" data-file='/docs/sample-pdf.pdf'>
          <i class="mdi mdi-printer"></i>
        </button>
      </div>
    </div>
    <div class="pdf-viewer-content scroll-detector">
      <canvas id="pdf-viewer-canvas"></canvas>
    </div>
  </div>
</div>