<div class='viewlist'>
  <div class='viewlist-wrapper'>
    <div class='viewlist-sidebar'>
      <div class='viewlist-sidebar-wrapper'>
        <%- include('../toolbars/toolbar-images') -%>
        <div class='list-container'>
          <%- include('../lists/image-list') -%>
        </div>
      </div>
    </div>

    
    <div class='viewlist-content'>
      <div class='viewlist-content-dialog'>
        <a href='#' class='close'><i class='mdi mdi-close'></i></a>
        <div class='viewlist-content-wrapper'>
          <div>
            <div class='content-title'>
              <h4>Image Titile 001</h4>
              <p class='content-title-extra'>
                <span class="text--bold">CODE:</span>
                <span class="date-box">CODE-TRANSMED-000026</span>
              </p>
              <p class='content-title-extra'>
                <span class="text--bold">Date:</span>
                <span class="date-box">10/30/2020</span>
              </p>
            </div>
            <div class='content-context'>
              <img src='/img/sample-image.jpg' class='responsive-image' />
              <div class="content-context-wrapper">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam suscipit nemo error et facere dolore optio illo impedit dolor, omnis, dolorum voluptatibus deleniti? At ipsum officia earum nobis vitae? Modi.</p>
              </div>
            </div>
            <div class='content-footer'>
              <button class='btn btn-danger'>
                <i class='mdi mdi-delete'></i>
                <span>Delete</span>
              </button>
              <button class='btn btn-info'>
                <i class='mdi mdi-pencil'></i>
                <span>Edit</span>
              </button>
            </div>
          </div>
        </div>
        <div class='viewlist-content-overlay'></div>
      </div>
    </div>
  </div>
</div>