<div class='viewlist'>
  <div class='viewlist-wrapper'>
    <div class='viewlist-sidebar'>
      <div class='viewlist-sidebar-wrapper'>
        <%- include('../toolbars/toolbar-vitals') -%>
        <div class='list-container'>
          <%- include('../lists/vitals-list') -%>
        </div>
      </div>
    </div>

    
    <div class='viewlist-content'>
      <div class='viewlist-content-dialog'>
        <a href='#' class='close'><i class='mdi mdi-close'></i></a>
        <div class='viewlist-content-wrapper'>
          <div>
            <div class='content-title clean'>
              <h4>Vitals Details</h4>
              <p class='content-title-extra'>
                <span class="text--bold">CODE:</span>
                <span class="date-box">CODE-TRNSTST-000026</span>
              </p>
              <p class='content-title-extra'>
                <span class="text--bold">Date:</span>
                <span class="date-box">10/30/2020</span>
              </p>
            </div>
            <div class="content-context">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Vital</th>
                    <th scope="col">Reference</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">BP</th>
                    <td>asdf</td>
                    <td>DXD</td>
                    <td>110/80</td>
                  </tr>
                  <tr>
                    <th scope="row">Wt</th>
                    <td>cccc</td>
                    <td>Kg</td>
                    <td>60</td>
                  </tr>
                  <tr>
                    <th scope="row">Height</th>
                    <td>MX0012</td>
                    <td>Cm</td>
                    <td>154</td>
                  </tr>
                  <tr>
                    <th scope="row">BP</th>
                    <td>asdf</td>
                    <td>DXD</td>
                    <td>110/80</td>
                  </tr>
                  <tr>
                    <th scope="row">Wt</th>
                    <td>cccc</td>
                    <td>Kg</td>
                    <td>60</td>
                  </tr>
                  <tr>
                    <th scope="row">Height</th>
                    <td>MX0012</td>
                    <td>Cm</td>
                    <td>154</td>
                  </tr>
                  <tr>
                    <th scope="row">BP</th>
                    <td>asdf</td>
                    <td>DXD</td>
                    <td>110/80</td>
                  </tr>
                  <tr>
                    <th scope="row">Wt</th>
                    <td>cccc</td>
                    <td>Kg</td>
                    <td>60</td>
                  </tr>
                  <tr>
                    <th scope="row">Height</th>
                    <td>MX0012</td>
                    <td>Cm</td>
                    <td>154</td>
                  </tr>
                  <tr>
                    <th scope="row">BP</th>
                    <td>asdf</td>
                    <td>DXD</td>
                    <td>110/80</td>
                  </tr>
                  <tr>
                    <th scope="row">Wt</th>
                    <td>cccc</td>
                    <td>Kg</td>
                    <td>60</td>
                  </tr>
                  <tr>
                    <th scope="row">Height</th>
                    <td>MX0012</td>
                    <td>Cm</td>
                    <td>154</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class='content-footer'>
              <button class='btn btn-danger'>
                <i class='mdi mdi-delete'></i>
                <span>Delete</span>
              </button>
              <button class='btn btn-info'>
                <i class='mdi mdi-pencil'></i>
                <span>Edit</span>
              </button>
            </div>
          </div>
        </div>
        <div class='viewlist-content-overlay'></div>
      </div>
    </div>
  </div>
</div>