<div class='profile container'>
  <div class='profile-wrapper'>
    <div class='avatar-col'>
      <div class='avatar lg'>
        <img src='/img/default_photo.jpg'>
      </div>
    </div>
    <div class='details-col'>
      <div class='row'>
        <div class='col-md-12 col-lg-6 col-xl-8'>
          <div class='row'>
            <div class='col-sm-12 title-col'>
              <h5>Last Name, First Name M.</h5>
            </div>
            <div class='col-lg-12 col-xl-6'>
              <p class='text--bold'>Male, 65 Years Old</p>
              <p><span class='text--bold'>DOB:</span> December 25, 1980</p>
              <p><span  class='text--bold'>Type Status:</span> Full</p>
            </div>
            <div class='col-lg-12 col-xl-6'>
              <p><span class='text--bold'>Race:</span> Asian</p>
              <p><span class='text--bold'>Marital Status:</span> Married</p>
            </div>
            <div class='col-xl-12'>
              <p><span class='text--bold'>Type/Location:</span> Clinic</p>
              <p><span class='text--bold'>Address:</span></p>
              <p>Pinahagbong, Tubol Street, Mandaue City, Cebu 6014</p>
            </div>
            <div class='col-sm-12 title-col'>
              <a href='#' class='collapsed' data-toggle='collapse' data-target='#patient-medical-details'>
                <h5>Medical Details</h5>
                <i class='icon mdi mdi-chevron-down'></i>
              </a>
            </div>
            <div class='col-sm-12 collapse' id='patient-medical-details'>
              <p><span class='text--bold'>Problems</span></p>
              <div class='quote'>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis delectus ad quibusdam possimus unde, tempore provident cumque tenetur quae voluptatum distinctio, similique aliquid, quam impedit. Eligendi repellat consectetur ut vitae.
              </div>
              <p><span class='text--bold'>Diagnosis</span></p>
              <div class='quote'>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae atque unde, quaerat excepturi minus eligendi delectus. Fugit nam, ipsum enim, quaerat, error tempora ducimus unde quam nostrum perspiciatis facilis atque?
              </div>
              <p><span class='text--bold'>Allergies</span></p>
              <div class='quote'>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima eveniet temporibus necessitatibus vitae nisi aut ex suscipit modi deleniti consectetur reprehenderit eaque praesentium delectus, id tenetur recusandae ad excepturi fuga!
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-12 col-lg-6 col-xl-4 extra-col'>
          <div class='row'>
            <div class='col-sm-12 title-col'>
              <a href='#' data-toggle='collapse' data-target='#contact-info'>
                <h5>Contact Info</h5>
                <i class='icon mdi mdi-chevron-down'></i>
              </a>
            </div>
            <div class='col-sm-12 collapse show' id='contact-info'>
              <p><span class='text--bold'>Home Phone:</span> 032-4221234</p>
              <p><span class='text--bold'>Work Phone:</span> 032-8473271</p>
              <p><span class='text--bold'>Mobile Phone:</span> (0917) 123-4567</p>
              <p><span class='text--bold'>Email:</span> name@domain.com</p>
              <p><span class='text--bold'>Contact Person:</span> Somebody I Used To Know</p>
              <p><span class='text--bold'>Referred by:</span> Tubol, Rita</p>
            </div>
            <div class='col-sm-12 title-col'>
              <a href='#' data-toggle='collapse' data-target='#insurance-info'>
                <h5>Insurance Info</h5>
                <i class='icon mdi mdi-chevron-down'></i>
              </a>
            </div>
            <div class='col-sm-12 collapse' id='insurance-info'>
              <p><span class='text--bold'>Insurance Plan:</span> Intellicare</p>
              <p><span class='text--bold'>Insurance ID No.:</span> 123123123</p>
              <p><span class='text--bold'>Group No.:</span> 32312312</p>
              <p><span class='text--bold'>Co-Pay.:</span> 0.00</p>
              <p><span class='text--bold'>Address:</span></p>
              <p>Pinahagbong, Tubol Street, Mandaue City, Cebu 6014</p>
              <p><span class='text--bold'>Plan Phone No.:</span> 032-4121212</p>
              <p><span class='text--bold'>Guarantors Name:</span> Last Name, First Name M.</p>
              <p><span class='text--bold'>Guarantors DOB:</span> January 1, 1999</p>
              <p><span class='text--bold'>Relations To Guarantor:</span> Just Friends</p>
              <p><span class='text--bold'>Notes:</span></p>
              <p>Balibari kay sige nig pangutang!!!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>