<div class='viewlist'>
  <div class='viewlist-wrapper'>
    <div class='viewlist-sidebar'>
      <div class='viewlist-sidebar-wrapper'>
        <%- include('../toolbars/toolbar-labs') -%>
        <div class='list-container'>
          <%- include('../lists/labs-list') -%>
        </div>
      </div>
    </div>

    
    <div class='viewlist-content'>
      <div class='viewlist-content-dialog'>
        <a href='#' class='close'><i class='mdi mdi-close'></i></a>
        <div class='viewlist-content-wrapper'>
          <div>
            <div class='content-title clean'>
              <h4>CBC Details</h4>
              <p class='content-title-extra'>
                <span class="text--bold">CODE:</span>
                <span class="date-box">CODE-TRNSTST-000026</span>
              </p>
              <p class='content-title-extra'>
                <span class="text--bold">Date:</span>
                <span class="date-box">10/30/2020</span>
              </p>
            </div>
            <div class="row">
              <div class="col-md-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Lab</th>
                      <th scope="col">Reference</th>
                      <th scope="col">Unit</th>
                      <th scope="col">Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">WBC</th>
                      <td>asdf</td>
                      <td>DXD</td>
                      <td>1123123</td>
                    </tr>
                    <tr>
                      <th scope="row">RBC</th>
                      <td>cccc</td>
                      <td>MNK</td>
                      <td>6528</td>
                    </tr>
                    <tr>
                      <th scope="row">Hb</th>
                      <td>MX0012</td>
                      <td>IU</td>
                      <td>23.474</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class='viewlist-content-overlay'></div>
      </div>
    </div>
  </div>
</div>