<div class='content-wrapper'>
  
  <div class='tabs'>
    <div class='tabs-container'>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-warehouses-tab" data-toggle="tab" href="#nav-warehouses" role="tab" aria-controls="nav-warehouses" aria-selected="true">Warehouses</a>
        <a class="nav-item nav-link" id="nav-items-tab" data-toggle="tab" href="#nav-items" role="tab" aria-controls="nav-items" aria-selected="false">Items</a>
        <a class="nav-item nav-link" id="nav-receiving-tab" data-toggle="tab" href="#nav-receiving" role="tab" aria-controls="nav-receiving" aria-selected="false">Receiving</a>
        <a class="nav-item nav-link" id="nav-adjustments-tab" data-toggle="tab" href="#nav-adjustments" role="tab" aria-controls="nav-adjustments" aria-selected="false">Adjustments</a>
        <a class="nav-item nav-link" id="nav-invoices-tab" data-toggle="tab" href="#nav-invoices" role="tab" aria-controls="nav-invoices" aria-selected="false">Invoices</a>
        <a class="nav-item nav-link" id="nav-suppliers-tab" data-toggle="tab" href="#nav-suppliers" role="tab" aria-controls="nav-suppliers" aria-selected="false">Suppliers</a>
      </div>
    </div>
    <div class='content-body'>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="nav-warehouses" role="tabpanel" aria-labelledby="nav-warehouses-tab">
          <%- include('../panels/inventory-warehouses'); -%>
        </div>
        <div class="tab-pane fade" id="nav-items" role="tabpanel" aria-labelledby="nav-items-tab">
          <%- include('../panels/panel-sample-datatable'); -%>
        </div>
      </div>
    </div>
  </div>
</div>