<!-- ASIDE -->
<div class='aside'>
  <div class='filter'>
    <div class='search'>
      <a class="clear" href="#">
        <i class='mdi mdi-close-circle'></i>
      </a>
      <input type="text" class="form-control" placeholder="Search" aria-label="Search">
    </div>
    <div class='sort dropdown'>
      <a href='#' class='sort-button' data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
        <i class='mdi mdi-filter-variant'></i>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">
          <i class='mdi mdi-sort-alphabetical-ascending'></i>
          Sort Ascending
        </a>
        <a class="dropdown-item" href="#">
          <i class='mdi mdi-sort-alphabetical-descending'></i>
          Sort Descending
        </a>
      </div>
    </div>
  </div>

  <ul class='list'>
    <li class='list-item'>
      <a href='#' class='list-link'>
        <div class='avatar xs'>
          <img src='/img/default_photo.jpg' />
        </div>
        <div class='list-context'>
          <span class='primary-text'>Tambling, Jack</span>
          <span class='secondary'>
            NAC
            <span class='phone'>09171231231</span>
          </span>
        </div>
      </a>
    </li>
    <li class='list-item'>
      <a href='#' class='list-link'>
        <div class='avatar xs'>
          <img src='/img/default_photo.jpg' />
        </div>
        <div class='list-context'>
          <span class='primary-text'>Yopay, Manu asd fasdfasdfasdfasdf</span>
          <span class='secondary'>
            NAS
            <span class='phone'>09184444441</span>
          </span>
        </div>
      </a>
    </li>
    <li class='list-item'>
      <a href='#' class='list-link'>
        <div class='avatar xs'>
          <img src='/img/default_photo.jpg' />
        </div>
        <div class='list-context'>
          <span class='primary-text'>Wong, Sam Ting</span>
          <span class='secondary'>
            NAS
            <span class='phone'>09154891284</span>
          </span>
        </div>
      </a>
    </li>
    <li class='list-item'>
      <a href='#' class='list-link'>
        <div class='avatar xs'>
          <img src='/img/default_photo.jpg' />
        </div>
        <div class='list-context'>
          <span class='primary-text'>Oplok, Ken</span>
          <span class='secondary'>
            NAC
            <span class='phone'>09191932895</span>
          </span>
        </div>
      </a>
    </li>
    <li class='list-item'>
      <a href='#' class='list-link'>
        <div class='avatar xs'>
          <img src='/img/default_photo.jpg' />
        </div>
        <div class='list-context'>
          <span class='primary-text'>Tambling, Jack</span>
          <span class='secondary'>
            NAC
            <span class='phone'>09171231231</span>
          </span>
        </div>
      </a>
    </li>
    <li class='list-item'>
      <a href='#' class='list-link'>
        <div class='avatar xs'>
          <img src='/img/default_photo.jpg' />
        </div>
        <div class='list-context'>
          <span class='primary-text'>Yopay, Manu asd fasdfasdfasdfasdf</span>
          <span class='secondary'>
            NAS
            <span class='phone'>09184444441</span>
          </span>
        </div>
      </a>
    </li>
    <li class='list-item'>
      <a href='#' class='list-link'>
        <div class='avatar xs'>
          <img src='/img/default_photo.jpg' />
        </div>
        <div class='list-context'>
          <span class='primary-text'>Wong, Sam Ting</span>
          <span class='secondary'>
            NAS
            <span class='phone'>09154891284</span>
          </span>
        </div>
      </a>
    </li>
    <li class='list-item'>
      <a href='#' class='list-link'>
        <div class='avatar xs'>
          <img src='/img/default_photo.jpg' />
        </div>
        <div class='list-context'>
          <span class='primary-text'>Oplok, Ken</span>
          <span class='secondary'>
            NAC
            <span class='phone'>09191932895</span>
          </span>
        </div>
      </a>
    </li>
    <li class='list-item'>
      <a href='#' class='list-link'>
        <div class='avatar xs'>
          <img src='/img/default_photo.jpg' />
        </div>
        <div class='list-context'>
          <span class='primary-text'>Tambling, Jack</span>
          <span class='secondary'>
            NAC
            <span class='phone'>09171231231</span>
          </span>
        </div>
      </a>
    </li>
    <li class='list-item'>
      <a href='#' class='list-link'>
        <div class='avatar xs'>
          <img src='/img/default_photo.jpg' />
        </div>
        <div class='list-context'>
          <span class='primary-text'>Yopay, Manu asd fasdfasdfasdfasdf</span>
          <span class='secondary'>
            NAS
            <span class='phone'>09184444441</span>
          </span>
        </div>
      </a>
    </li>
    <li class='list-item'>
      <a href='#' class='list-link'>
        <div class='avatar xs'>
          <img src='/img/default_photo.jpg' />
        </div>
        <div class='list-context'>
          <span class='primary-text'>Wong, Sam Ting</span>
          <span class='secondary'>
            NAS
            <span class='phone'>09154891284</span>
          </span>
        </div>
      </a>
    </li>
    <li class='list-item'>
      <a href='#' class='list-link'>
        <div class='avatar xs'>
          <img src='/img/default_photo.jpg' />
        </div>
        <div class='list-context'>
          <span class='primary-text'>Oplok, Ken</span>
          <span class='secondary'>
            NAC
            <span class='phone'>09191932895</span>
          </span>
        </div>
      </a>
    </li>
    <li class='list-item'>
      <a href='#' class='list-link'>
        <div class='avatar xs'>
          <img src='/img/default_photo.jpg' />
        </div>
        <div class='list-context'>
          <span class='primary-text'>Tambling, Jack</span>
          <span class='secondary'>
            NAC
            <span class='phone'>09171231231</span>
          </span>
        </div>
      </a>
    </li>
    <li class='list-item'>
      <a href='#' class='list-link'>
        <div class='avatar xs'>
          <img src='/img/default_photo.jpg' />
        </div>
        <div class='list-context'>
          <span class='primary-text'>Yopay, Manu asd fasdfasdfasdfasdf</span>
          <span class='secondary'>
            NAS
            <span class='phone'>09184444441</span>
          </span>
        </div>
      </a>
    </li>
    <li class='list-item'>
      <a href='#' class='list-link'>
        <div class='avatar xs'>
          <img src='/img/default_photo.jpg' />
        </div>
        <div class='list-context'>
          <span class='primary-text'>Wong, Sam Ting</span>
          <span class='secondary'>
            NAS
            <span class='phone'>09154891284</span>
          </span>
        </div>
      </a>
    </li>
    <li class='list-item'>
      <a href='#' class='list-link'>
        <div class='avatar xs'>
          <img src='/img/default_photo.jpg' />
        </div>
        <div class='list-context'>
          <span class='primary-text'>Oplok, Ken</span>
          <span class='secondary'>
            NAC
            <span class='phone'>09191932895</span>
          </span>
        </div>
      </a>
    </li>
    <li class='list-item'>
      <a href='#' class='list-link'>
        <div class='avatar xs'>
          <img src='/img/default_photo.jpg' />
        </div>
        <div class='list-context'>
          <span class='primary-text'>Tambling, Jack</span>
          <span class='secondary'>
            NAC
            <span class='phone'>09171231231</span>
          </span>
        </div>
      </a>
    </li>
    <li class='list-item'>
      <a href='#' class='list-link'>
        <div class='avatar xs'>
          <img src='/img/default_photo.jpg' />
        </div>
        <div class='list-context'>
          <span class='primary-text'>Yopay, Manu asd fasdfasdfasdfasdf</span>
          <span class='secondary'>
            NAS
            <span class='phone'>09184444441</span>
          </span>
        </div>
      </a>
    </li>
    <li class='list-item'>
      <a href='#' class='list-link'>
        <div class='avatar xs'>
          <img src='/img/default_photo.jpg' />
        </div>
        <div class='list-context'>
          <span class='primary-text'>Wong, Sam Ting</span>
          <span class='secondary'>
            NAS
            <span class='phone'>09154891284</span>
          </span>
        </div>
      </a>
    </li>
    <li class='list-item'>
      <a href='#' class='list-link'>
        <div class='avatar xs'>
          <img src='/img/default_photo.jpg' />
        </div>
        <div class='list-context'>
          <span class='primary-text'>Oplok, Ken</span>
          <span class='secondary'>
            NAC
            <span class='phone'>09191932895</span>
          </span>
        </div>
      </a>
    </li>
  </ul>
  <div class='pagination'>
    <ul>
      <li>
        <a href='#'>
          <i class='mdi mdi-chevron-left'></i>
        </a>
      </li>
      <li>
        <a href='#'>
          1
        </a>
      </li>
      <li>
        <span>...</span>
      </li>
      <li>
        <a href='#'>
          5
        </a>
      </li>
      <li class='active'>
        <a href='#'>
          6
        </a>
      </li>
      <li>
        <a href='#'>
          7
        </a>
      </li>
      <li>
        <span>...</span>
      </li>
      <li>
        <a href='#'>
          23
        </a>
      </li>
      <li>
        <a href='#'>
          <i class='mdi mdi-chevron-right'></i>
        </a>
      </li>
    </ul>
  </div>
</div>