
          <ul class='list userlist list-selectable'>
            <li class='list-item'>
              <button type='button' class='list-link' data-type='pageload' data-content='/content/cashering-page-content.html'>
                <div class='avatar sm info'>
                  <i class='mdi mdi-point-of-sale'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Payments</span>
                  <span class='secondary'>
                    Lorem ipsum, dolor sit...
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link' data-type='pageload' data-content='/content/cashering-report-collections-page-content.html'>
                <div class='avatar sm warning'>
                  <i class='mdi mdi-clipboard-text-play-outline'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Daily Collections</span>
                  <span class='secondary'>
                    Lorem ipsum dolor sit amet consectetur elit.
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link' data-type='pageload' data-content='/content/cashering-report-appointments-page-content.html'>
                <div class='avatar sm success'>
                  <i class='mdi mdi-calendar-account'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Daily Appointments</span>
                  <span class='secondary'>
                    Lorem ipsum dolor sit amet consectetur elit.
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link' data-type='pageload' data-content='/content/cashering-report-queue-page-content.html'>
                <div class='avatar sm danger'>
                  <i class='mdi mdi-account-clock'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Daily Queue</span>
                  <span class='secondary'>
                    Lorem ipsum dolor sit amet consectetur elit.
                  </span>
                </div>
              </button>
            </li>
          </ul>