
          <ul class='list userlist list-selectable'>
            <li class='list-item'>
              <button class='list-link' data-type='pageload' data-content='/content/inventory-page-content.html'>
                <div class='avatar sm info'>
                  <i class='mdi mdi-chart-bar-stacked'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Manage Inventory</span>
                  <span class='secondary'>
                    Warehouses, Items, etc...
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button class='list-link' data-type='pageload' data-content='/content/inventory-page-content.html'>
                <div class='avatar sm warning'>
                  <i class='mdi mdi-clipboard-text-play-outline'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Inventory Report</span>
                  <span class='secondary'>
                    Lorem ipsum dolor sit amet consectetur elit.
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button class='list-link' data-type='pageload' data-content='/content/inventory-page-content.html'>
                <div class='avatar sm success'>
                  <i class='mdi mdi-cash-usd-outline'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Sales Report</span>
                  <span class='secondary'>
                    Lorem ipsum dolor sit amet consectetur.
                  </span>
                </div>
              </button>
            </li>
          </ul>