
          <ul class='list list-selectable'>
            <li class='list-item'>
              <a href='#' class='list-link'>
                <div class='list-context'>
                  <span class='primary-text'>Tambling, Jack</span>
                  <span class='appointment-details'>
                    <span class="badge badge-secondary time">10:00 AM</span>
                    <span class="badge badge-success status">Served</span>
                  </span>
                  <span class='secondary'>
                    <span class='phone'>09171231231</span>
                  </span>
                </div>
              </a>
            </li>
            <li class='list-item'>
              <a href='#' class='list-link'>
                <div class='list-context'>
                  <span class='primary-text'>Tubol, Rita</span>
                  <span class='appointment-details'>
                    <span class="badge badge-secondary time">1:00 PM</span>
                    <span class="badge badge-default status">Pending</span>
                  </span>
                  <span class='secondary'>
                    <span class='phone'>09184444441</span>
                  </span>
                </div>
              </a>
            </li>
            <li class='list-item'>
              <a href='#' class='list-link'>
                <div class='list-context'>
                  <span class='primary-text'>Wong, Sam Ting</span>
                  <span class='appointment-details'>
                    <span class="badge badge-secondary time">3:00 PM</span>
                    <span class="badge badge-warning status">Cancelled</span>
                  </span>
                  <span c
                    <span class='phone'>09154891284</span>
                  </span>
                </div>
              </a>
            </li>
            <li class='list-item'>
              <a href='#' class='list-link'>
                <div class='list-context'>
                  <span class='primary-text'>Oplok, Ken</span>
                  <span class='appointment-details'>
                    <span class="badge badge-secondary time">4:00 PM</span>
                    <span class="badge badge-danger status">Alert</span>
                  </span>
                  <span class='secondary'>
                    <span class='phone'>09191932895</span>
                  </span>
                </div>
              </a>
            </li>
          </ul>