
          <ul class='list list-selectable'>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs info'>
                  <p>1</p>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Tambling, Jack</span>
                  <span class='appointment-details'>
                    <span class="badge badge-success status">Served</span>
                  </span>
                  <span class='secondary'>
                    <span class="phone">0921-29412832</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-queue-menu'); -%>
            </li>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs info'>
                  <p>2</p>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Yopay, Manu asd fasdfasdfasdfasdf</span>
                  <span class='appointment-details'>
                    <span class="badge badge-warning status">Cancelled</span>
                  </span>
                  <span class='secondary'>
                    <span class="phone">0916-2131353</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-queue-menu'); -%>
            </li>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs info'>
                  <p>3</p>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Wong, Sam Ting</span>
                  <span class='appointment-details'>
                    <span class="badge badge-default status">Pending</span>
                  </span>
                  <span class='secondary'>
                    <span class="phone">0918-6565981</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-queue-menu'); -%>
            </li>
          </ul>