
          <ul class='list'>
            <li class='list-item'>
              <a href='#' class='list-link'>
                <div class='avatar xs info'>
                  <i class='mdi mdi-email-newsletter'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Biopsy</span>
                  <span class='secondary'>
                    CODE-TRNSTST-000001
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </a>
            </li>
            <li class='list-item'>
              <a href='#' class='list-link'>
                <div class='avatar xs info'>
                  <i class='mdi mdi-email-newsletter'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>CT Scan</span>
                  <span class='secondary'>
                    CODE-TRNSTST-000024
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </a>
            </li>
            <li class='list-item'>
              <a href='#' class='list-link'>
                <div class='avatar xs info'>
                  <i class='mdi mdi-email-newsletter'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>X-Ray</span>
                  <span class='secondary'>
                    CODE-TRNSTST-000026
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </a>
            </li>
          </ul>