
          <ul class='list'>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs success'>
                  <i class='mdi mdi-newspaper-variant'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Custom Form 001</span>
                  <span class='secondary'>
                    CODE-TRNSLABS-0000001
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs success'>
                  <i class='mdi mdi-newspaper-variant'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Custom Formalin</span>
                  <span class='secondary'>
                    CODE-TRNSLABS-0000004
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs success'>
                  <i class='mdi mdi-newspaper-variant'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Custom Form 001</span>
                  <span class='secondary'>
                    CODE-TRNSLABS-0000001
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs success'>
                  <i class='mdi mdi-newspaper-variant'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Custom Formalin</span>
                  <span class='secondary'>
                    CODE-TRNSLABS-0000004
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs success'>
                  <i class='mdi mdi-newspaper-variant'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Custom Form 001</span>
                  <span class='secondary'>
                    CODE-TRNSLABS-0000001
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs success'>
                  <i class='mdi mdi-newspaper-variant'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Custom Formalin</span>
                  <span class='secondary'>
                    CODE-TRNSLABS-0000004
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs success'>
                  <i class='mdi mdi-newspaper-variant'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Custom Form 001</span>
                  <span class='secondary'>
                    CODE-TRNSLABS-0000001
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs success'>
                  <i class='mdi mdi-newspaper-variant'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Custom Formalin</span>
                  <span class='secondary'>
                    CODE-TRNSLABS-0000004
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs success'>
                  <i class='mdi mdi-newspaper-variant'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Custom Form 001</span>
                  <span class='secondary'>
                    CODE-TRNSLABS-0000001
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs success'>
                  <i class='mdi mdi-newspaper-variant'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Custom Formalin</span>
                  <span class='secondary'>
                    CODE-TRNSLABS-0000004
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs success'>
                  <i class='mdi mdi-newspaper-variant'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Custom Form 001</span>
                  <span class='secondary'>
                    CODE-TRNSLABS-0000001
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs success'>
                  <i class='mdi mdi-newspaper-variant'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Custom Formalin</span>
                  <span class='secondary'>
                    CODE-TRNSLABS-0000004
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs success'>
                  <i class='mdi mdi-newspaper-variant'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Custom Form 001</span>
                  <span class='secondary'>
                    CODE-TRNSLABS-0000001
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs success'>
                  <i class='mdi mdi-newspaper-variant'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Custom Formalin</span>
                  <span class='secondary'>
                    CODE-TRNSLABS-0000004
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs success'>
                  <i class='mdi mdi-newspaper-variant'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Custom Form 001</span>
                  <span class='secondary'>
                    CODE-TRNSLABS-0000001
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs success'>
                  <i class='mdi mdi-newspaper-variant'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Custom Formalin</span>
                  <span class='secondary'>
                    CODE-TRNSLABS-0000004
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs success'>
                  <i class='mdi mdi-newspaper-variant'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Custom Form 001</span>
                  <span class='secondary'>
                    CODE-TRNSLABS-0000001
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs success'>
                  <i class='mdi mdi-newspaper-variant'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Custom Formalin</span>
                  <span class='secondary'>
                    CODE-TRNSLABS-0000004
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs success'>
                  <i class='mdi mdi-newspaper-variant'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Custom Form 001</span>
                  <span class='secondary'>
                    CODE-TRNSLABS-0000001
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs success'>
                  <i class='mdi mdi-newspaper-variant'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Custom Formalin</span>
                  <span class='secondary'>
                    CODE-TRNSLABS-0000004
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
          </ul>