
          <ul class='list userlist list-selectable'>
            <li class='list-item'>
              <button type='button' class='list-link' data-type='pageload' data-content='/content/settings-lists-page-content.html'>
                <div class='avatar sm info'>
                  <i class='mdi mdi-format-list-bulleted'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Lists</span>
                  <span class='secondary'>
                    Code Status, Dosages, Drugs, Frequencies...
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link' data-type='pageload' data-content='/content/settings-locations-page-content.html'>
                <div class='avatar sm warning'>
                  <i class='mdi mdi-office-building-marker-outline'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Locations</span>
                  <span class='secondary'>
                    Lorem ipsum dolor sit amet consectetur elit.
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link' data-type='pageload' data-content='/content/settings-patientdetailfields-page-content.html'>
                <div class='avatar sm success'>
                  <i class='mdi mdi-badge-account-horizontal-outline'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Patient Detail Fields</span>
                  <span class='secondary'>
                    Lorem ipsum dolor sit amet consectetur.
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link' data-type='pageload' data-content='/content/settings-others-page-content.html'>
                <div class='avatar sm danger'>
                  <i class='mdi mdi-text-box-outline'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Others</span>
                  <span class='secondary'>
                    Lorem ipsum dolor sit amet consectetur.
                  </span>
                </div>
              </button>
            </li>
          </ul>