
          <ul class='list'>
            <li class='list-item'>
              <a href='#' class='list-link'>
                <div class='avatar xs success'>
                  <i class='mdi mdi-check'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Todo Title 001</span>
                  <span class='secondary'>
                    <span class='date'>10/30/2020 2:00 AM</span>
                    <span class="badge badge-pill badge-danger">Priority 1</span>
                  </span>
                </div>
              </a>
            </li>
            <li class='list-item'>
              <a href='#' class='list-link'>
                <div class='avatar xs default'>
                  <i class='mdi mdi-close'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Todo Title 002</span>
                  <span class='secondary'>
                    <span class='date'>10/30/2020 2:00 AM</span>
                    <span class="badge badge-pill badge-warning">Priority 2</span>
                  </span>
                </div>
              </a>
            </li>
            <li class='list-item'>
              <a href='#' class='list-link'>
                <div class='avatar xs default'>
                  <i class='mdi mdi-close'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Todo Title 003</span>
                  <span class='secondary'>
                    <span class='date'>10/30/2020 2:00 AM</span>
                    <span class="badge badge-pill badge-info">Priority 3</span>
                  </span>
                </div>
              </a>
            </li>
            <li class='list-item'>
              <a href='#' class='list-link'>
                <div class='avatar xs default'>
                  <i class='mdi mdi-close'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Todo Title 004</span>
                  <span class='secondary'>
                    <span class='date'>10/30/2020 2:00 AM</span>
                    <span class="badge badge-pill badge-success">Priority 4</span>
                  </span>
                </div>
              </a>
            </li>
            <li class='list-item'>
              <a href='#' class='list-link'>
                <div class='avatar xs default'>
                  <i class='mdi mdi-close'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Todo Title 005</span>
                  <span class='secondary'>
                    <span class='date'>10/30/2020 2:00 AM</span>
                    <span class="badge badge-pill badge-primary">Priority 5</span>
                  </span>
                </div>
              </a>
            </li>
          </ul>