
          <ul class='list'>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs info'>
                  <i class='mdi mdi-shield-outline'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Vaccine Title 01</span>
                  <span class='secondary'>
                    CODE-TRANSVAC-000754
                    <span class='date'>10/30/2020 2:00 AM</span>
                  </span>
                </div>
              </button>
            </li>
          </ul>