
          <ul class='list'>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs danger'>
                  <i class='mdi mdi-blood-bag'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>10/30/2020 2:00 AM</span>
                  <span class='secondary'>
                    CODE-TRNSVITL-000754
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs danger'>
                  <i class='mdi mdi-blood-bag'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>10/23/2020 9:00 AM</span>
                  <span class='secondary'>
                    CODE-TRNSVITL-000642
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs danger'>
                  <i class='mdi mdi-blood-bag'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>10/06/2020 11:00 AM</span>
                  <span class='secondary'>
                    CODE-TRNSVITL-000421
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
            <li class='list-item'>
              <button type='button' class='list-link'>
                <div class='avatar xs danger'>
                  <i class='mdi mdi-blood-bag'></i>
                </div>
                <div class='list-context'>
                  <span class='primary-text'>09/22/2020 9:00 AM</span>
                  <span class='secondary'>
                    CODE-TRNSVITL-000366
                    <span class='date'>10/30/2020</span>
                  </span>
                </div>
              </button>
            </li>
          </ul>