<div class='row'>
  <div class='col-md-12'>
    <div class="form-group">
      <label for="new-form-oldpassword">Old Password</label>
      <input type='password' name='oldpassword' id="new-form-oldpassword" class="form-control">
    </div>
  </div>
  <div class='col-md-12'>
    <div class="form-group">
      <label for="new-form-password">New Password</label>
      <input type='password' name='password' id="new-form-password" class="form-control">
    </div>
  </div>
  <div class='col-md-12'>
    <div class="form-group">
      <label for="new-form-confirmpassword">Confirm New Password</label>
      <input type='password' name='confirmpassword' id="new-form-confirmpassword" class="form-control">
    </div>
  </div>
</div>