<div class='row'>
  <div class='col-md-12'>
    <div class="form-group">
      <label for="new-form-name">Name</label>
      <input name='name' id="new-form-name" class="form-control">
    </div>
  </div>
  <div class='col-md-12 editor'>
    <div class="form-group">
      <label for="new-form-description">Description</label>
      <textarea class='form-control' name='description' rows='5'></textarea>
    </div>
  </div>
</div>