<div class='row'>
  <div class='col-md-12'>
    <div class="form-group">
      <label for="new-form-name">Name</label>
      <input name='name' id="new-form-name" class="form-control">
    </div>
  </div>
  <div class='col-md-4'>
    <div class="form-group">
      <label for="new-form-telno">Telephone Number</label>
      <input name='telno' id="new-form-telno" class="form-control">
    </div>
  </div>
  <div class='col-md-4'>
    <div class="form-group">
      <label for="new-form-faxno">Fax Number</label>
      <input name='faxno' id="new-form-faxno" class="form-control">
    </div>
  </div>
  <div class='col-md-4'>
    <div class="form-group">
      <label for="new-form-mobileno">Mobile Number</label>
      <input name='mobileno' id="new-form-mobileno" class="form-control">
    </div>
  </div>
  <div class='col-md-4'>
    <div class="form-group">
      <label for="new-form-email">Email Address</label>
      <input name='email' id="new-form-email" class="form-control">
    </div>
  </div>
  <div class='col-md-4'>
    <div class="form-group">
      <label for="new-form-terms">Terms</label>
      <input name='terms' id="new-form-terms" class="form-control" value='0'>
    </div>
  </div>
  <div class='col-md-4'>
    <div class="form-group">
      <label for="new-form-compname">Company Name</label>
      <input name='compname' id="new-form-compname" class="form-control">
    </div>
  </div>
  <div class='col-md-12'>
    <div class="form-group">
      <label for="new-form-compaddress">Company Address</label>
      <textarea class='form-control' name='compaddress' rows='5'></textarea>
    </div>
  </div>
</div>