<div class='row'>
  <div class='col-md-2'>
    <div class="form-group">
      <label for="new-form-index">Field Index</label>
      <input type='number' name='index' id="new-form-index" class="form-control" min='0' value='0'>
    </div>
  </div>
  <div class='col-md-5'>
    <div class="form-group">
      <label for="new-form-fieldname">Field Name</label>
      <input name='fieldname' id="new-form-fieldname" class="form-control">
    </div>
  </div>
  <div class='col-md-5'>
    <div class="form-group">
      <label for="new-meds-fieldtype">Field Type</label>
      <select id='new-meds-fieldtype' class="select2" name='fieldtype' placeholder=''>
        <option selected value="" style="display:none;"></option>
        <option value="textinput">Text Input</option>
        <option value="numericinput">Numeric Input</option>
        <option value="selection">selection</option>
      </select>
    </div>
  </div>
  <div class='col-md-12'>
    <div class="form-group">
      <label for="new-meds-warehouse">Field Option</label>
      <select id='new-meds-warehouse' class="select2" name='warehouse' placeholder=''>
        <option selected value="" style="display:none;"></option>
        <option value="Code Status">Code Status</option>
        <option value="Dosages">Dosages</option>
        <option value="Frequencies">Frequencies</option>
        <option value="Race">Race</option>
        <option value="Routes">Routes</option>
      </select>
    </div>
  </div>
</div>