<div class='row'>
  <div class='col-lg-12 col-xl-12'>
    <div class="form-group">
      <label for="new-form-title">Title</label>
      <input name='title' id="new-form-title" class="form-control">
    </div>
  </div>
  <div class='col-lg-12 col-xl-6 editor'>
    <div class="form-group">
      <label for="new-form-field1">S</label>
      <div id='new-form-field1' class="editor-field"></div>
      <input type='hidden' class='editor-input' name='field1' />
    </div>
  </div>
  <div class='col-lg-12 col-xl-6 editor'>
    <div class="form-group">
      <label for="new-form-field2">O</label>
      <div id='new-form-field2' class="editor-field"></div>
      <input type='hidden' class='editor-input' name='field2' />
    </div>
  </div>
  <div class='col-lg-12 col-xl-6 editor'>
    <div class="form-group">
      <label for="new-form-field3">Vitals</label>
      <div id='new-form-field3' class="editor-field"></div>
      <input type='hidden' class='editor-input' name='field3' />
    </div>
  </div>
  <div class='col-lg-12 col-xl-6 editor'>
    <div class="form-group">
      <label for="new-form-field4">Labs</label>
      <div id='new-form-field4' class="editor-field"></div>
      <input type='hidden' class='editor-input' name='field4' />
    </div>
  </div>
  <div class='col-lg-12 col-xl-6 editor'>
    <div class="form-group">
      <label for="new-form-field5">Tests</label>
      <div id='new-form-field5' class="editor-field"></div>
      <input type='hidden' class='editor-input' name='field5' />
    </div>
  </div>
  <div class='col-lg-12 col-xl-6 editor'>
    <div class="form-group">
      <label for="new-form-field6">Meds</label>
      <div id='new-form-field6' class="editor-field"></div>
      <input type='hidden' class='editor-input' name='field6' />
    </div>
  </div>
</div>