<div class='row'>
  <div class='col-md-12'>
    <div class="form-group">
      <label for="new-form-description">Description</label>
      <input name='description' id="new-form-description" class="form-control">
    </div>
  </div>
  <div class='col-md-4'>
    <div class="form-group">
      <label for="new-form-purchase-unit-msr">Purchase Unit Msr.</label>
      <input name='purchase-unit-msr' id="new-form-purchase-unit-msr" class="form-control">
    </div>
  </div>
  <div class='col-md-4'>
    <div class="form-group">
      <label for="new-form-coversion">Conversion</label>
      <input name='coversion' id="new-form-coversion" class="form-control">
    </div>
  </div>
  <div class='col-md-4'>
    <div class="form-group">
      <label for="new-form-selling-unit-msr">Selling Unit Msr.</label>
      <input name='selling-unit-msr' id="new-form-selling-unit-msr" class="form-control">
    </div>
  </div>
  <div class='col-md-4'>
    <div class="form-group">
      <label for="new-form-selling-price">Selling Price</label>
      <input name='selling-price' id="new-form-selling-price" class="form-control">
    </div>
  </div>
  <div class='col-md-4'>
    <div class="form-group">
      <label for="new-form-recent-cost">Recent Cose</label>
      <input name='recent-cost' id="new-form-recent-cost" class="form-control">
    </div>
  </div>
  <div class='col-md-4'>
    <div class="form-group">
      <label for="new-form-ave-cost">Ave. Cost</label>
      <input name='ave-cost' id="new-form-ave-cost" class="form-control">
    </div>
  </div>
  <div class='col-md-12 editor'>
    <div class="form-group">
      <label for="new-form-remarks">Remarks</label>
      <textarea class='form-control editor-field' name='remarks' rows='5'></textarea>
    </div>
  </div>
</div>