<div class='row'>
  <div class='col-md-6'>
    <div class="form-group">
      <label for="new-form-code">Location Code</label>
      <input name='code' id="new-form-code" class="form-control">
    </div>
  </div>
  <div class='col-md-6'>
    <div class="form-group">
      <label for="new-form-name">Location Name</label>
      <input name='name' id="new-form-name" class="form-control">
    </div>
  </div>
  <div class='col-md-12'>
    <div class="form-group">
      <label for="new-form-address">Address</label>
      <textarea name='address' id="new-form-address" class="form-control" rows="5"></textarea>
    </div>
  </div>
  <div class='col-md-6'>
    <div class="form-group">
      <label for="new-form-transcode">Transaction transCode</label>
      <input name='transcode' id="new-form-transcode" class="form-control">
    </div>
  </div>
  <div class='col-md-6'>
    <div class="form-group">
      <label for="new-form-indent">Indent</label>
      <input name='indent' id="new-form-indent" class="form-control">
    </div>
  </div>
  <div class='col-md-12'>
    <div class="form-group">
      <label for="new-meds-warehouse">Warehouse</label>
      <select id='new-meds-warehouse' class="select2" name='warehouse' placeholder=''>
        <option selected value="" style="display:none;"></option>
        <option value="Kugmo Supplies">Kugmo Supplies</option>
        <option value="Ship-On Unlimited">Ship-On Unlimited</option>
        <option value="Boe Ugohn Industries">Boe Ugohn Industries</option>
        <option value="Two Bull Enterprise">Two Bull Enterprise</option>
        <option value="e-Gate Liquid State">e-Gate Liquid State</option>
      </select>
    </div>
  </div>
</div>