<div class='row'>
  <div class='col-md-4'>
    <div class="form-group">
      <label for="new-form-field1">Field 1</label>
      <input name='field1' id="new-form-field1" class="form-control">
    </div>
  </div>
  <div class='col-md-4'>
    <div class="form-group">
      <label for="new-form-field2">Field 2</label>
      <input name='field2' id="new-form-field2" class="form-control">
    </div>
  </div>
  <div class='col-md-4'>
    <div class="form-group">
      <label for="new-form-field3">Field 3</label>
      <input name='field3' id="new-form-field3" class="form-control">
    </div>
  </div>
</div>