<div class='row'>
  <div class='col-md-4'>
    <div class="form-group">
      <label for="new-form-title">Title</label>
      <input name='title' id="new-form-title" class="form-control">
    </div>
    <div class="editor">
      <div class="form-group">
        <label for="new-form-description">Description</label>
        <div id='new-form-description' class="editor-field"></div>
        <input type='hidden' class='editor-input' name='description' />
      </div>
    </div>
  </div>
  <div class='col-md-8'>
    <div class="form-group">
      <label for="new-form-field3">Sketch</label>
      <div class='sketchpad'>
        <div class='sketchpad-canvas'></div>
        <div class='sketchpad-controls'>
          <div class='sketchpad-size'>
            <div class="form-group inline">
              <label for="new-form-size">Size</label>
              <select id='new-form-size' class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="5" selected>5</option>
                <option value="10">10</option>
                <option value="25">25</option>
              </select>
            </div>
          </div>
          <div class='sketchpad-colors'>
            <button class='btn color-black' value='#000000'></button>
            <button class='btn color-red' value='#FF0000'></button>
            <button class='btn color-green' value='#00FF00'></button>
            <button class='btn color-blue' value='#0000FF'></button>
          </div>
          <div class='sketchpad-actions'>
            <button class='btn btn-outline-info undo'><i class='mdi mdi-undo'></i></button>
            <button class='btn btn-outline-info redo'><i class='mdi mdi-redo'></i></button>
            <button class='btn btn-danger clear'>
              <i class="mdi mdi-close"></i>
              <span>Clear</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>