<div class='row'>
  <div class='col-md-12'>
    <div class="form-group">
      <label for="new-form-name">List Name</label>
      <input name='name' id="new-form-name" class="form-control">
    </div>
  </div>
  <div class='col-md-12'>
    <div class='multifield' data-mfield-options='{"section": ".multifield-item","btnAdd":".btnAdd","btnRemove":".btnRemove"}'>
      <div class="multifield-toolbar toolbar">
        <button type='button' class='btn btn-info btnAdd'><i class='mdi mdi-plus'></i><span>Add Entry</span></button>
      </div>
      <div class="multifield-body">
        <div class="multifield-item">
          <div class="form-group">
            <input placeholder="Entry Value" type='text' class='form-control' name='entry[]' />
          </div>
          <button type='button' class='btn btn-danger btnRemove'><i class='mdi mdi-close'></i></button>
        </div>
      </div>
    </div>
  </div>
</div>