<div class='row'>
  <div class='col-md-6'>
    <div class="form-group">
      <label for="new-form-date">Select a date</label>
      <div class='input-field dateselect dateselect-current'>
        <a class="dateselect-icon" href="#">
          <i class='mdi mdi-calendar-search'></i>
        </a>
        <input id='new-form-date' type="text" class="form-control current" data-toggle='datepicker' aria-label="Search" data-date-format="dd/mm/yyyy">
      </div>
    </div>
  </div>
  <div class='col-md-6'>
    <div class="form-group">
      <label for="new-form-select">Select a lab</label>
      <select id='new-form-select' class="form-control">
        <option selected value="" style="display:none;"></option>
        <option value="ALPHA Feto Protein">ALPHA Feto Protein</option>
        <option value="ANA Panel">ANA Panel</option>
        <option value="CBC">CBC</option>
        <option value="Chemistry">Chemistry</option>
        <option value="COAGS">COAGS</option>
        <option value="Electrolytes">Electrolytes</option>
      </select>
    </div>
  </div>
  <div class="col-md-12">
    <div class='detail-box row'>
      <div class='content-title col-md-12'>
        <h5>Details</h5>
      </div>
      <div class='col-md-4'>
        <div class="form-group">
          <label for="new-form-wbc">WBC</label>
          <input id="new-form-wbc" class="form-control">
        </div>
      </div>
      <div class='col-md-4'>
        <div class="form-group">
          <label for="new-form-rbc">rbc</label>
          <input id="new-form-rbc" class="form-control">
        </div>
      </div>
      <div class='col-md-4'>
        <div class="form-group">
          <label for="new-form-hb">Hb</label>
          <input id="new-form-hb" class="form-control">
        </div>
      </div>
      <div class='col-md-4'>
        <div class="form-group">
          <label for="new-form-hct">Hct</label>
          <input id="new-form-hct" class="form-control">
        </div>
      </div>
      <div class='col-md-4'>
        <div class="form-group">
          <label for="new-form-plt">Plt</label>
          <input id="new-form-plt" class="form-control">
        </div>
      </div>
      <div class='col-md-4'>
        <div class="form-group">
          <label for="new-form-segs">Segs</label>
          <input id="new-form-segs" class="form-control">
        </div>
      </div>
      <div class='col-md-4'>
        <div class="form-group">
          <label for="new-form-lymph">Lymph</label>
          <input id="new-form-lymph" class="form-control">
        </div>
      </div>
      <div class='col-md-4'>
        <div class="form-group">
          <label for="new-form-neutrophil">Neutrophil</label>
          <input id="new-form-neutrophil" class="form-control">
        </div>
      </div>
      <div class='col-md-4'>
        <div class="form-group">
          <label for="new-form-mono">Mono</label>
          <input id="new-form-mono" class="form-control">
        </div>
      </div>
      <div class='col-md-4'>
        <div class="form-group">
          <label for="new-form-eos">Eos</label>
          <input id="new-form-eos" class="form-control">
        </div>
      </div>
      <div class='col-md-4'>
        <div class="form-group">
          <label for="new-form-baso">Baso</label>
          <input id="new-form-baso" class="form-control">
        </div>
      </div>
      <div class='col-md-4'>
        <div class="form-group">
          <label for="new-form-bands">Bands</label>
          <input id="new-form-bands" class="form-control">
        </div>
      </div>
    </div>
  </div>
</div>