<% 
__PAGE__ = 'patients';
__CONTENT__ = '../templates/content/patients-content';
__FAB__ = '../templates/fabs/patients-fab';
%> 

<%- include('../templates/header'); -%>

<div class='main unauthenticated'>
  <%- include('../templates/navbar-unauthenticated'); -%>

  <div class='content'>
    <div class='content-wrapper'>
      <div class='content-body scroll-detector'>
        <div class="loginForm">
          <a href="/" class='splash-logo'>
            <img src="/img/logo_dark.png" width="95" height="30" alt="" loading="lazy">
          </a>
          <div class='paper'>
            <form action="/index.html">
              <div class="paper-header">
                <h2>Welcome!</h2>
                <p>Please login using the form below.</p>
              </div>
              <div class="paper-body">
                <div class="row">
                  <div class='col-md-12'>
                    <div class="form-group">
                      <label for="new-form-username">Username / Email Address</label>
                      <input type='username' name='username' id="new-form-username" class="form-control" required>
                    </div>
                  </div>
                  <div class='col-md-12'>
                    <div class="form-group">
                      <label for="new-form-password">Password</label>
                      <input type='password' name='password' id="new-form-password" class="form-control" required>
                    </div>
                  </div>
                  <div class='col-md-12'>
                    <div class="form-group">
                      <label for="new-meds-location">Location</label>
                      <select id='new-meds-location' class="select2" name='location' placeholder='' required>
                        <option selected value="" style="display:none;"></option>
                        <option value="Medical Arts">Medical Arts</option>
                        <option value="Cosmopolitan Memorial Hospital">Cosmopolitan Memorial Hospital</option>
                        <option value="UC Med">UC Med</option>
                        <option value="Cebu Doctors Hospital">Cebu Doctors Hospital</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="paper-footer">
                <button type='submit' class='btn btn-info'>
                  <i class="mdi mdi-login"></i>
                  <span>Login</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include('../templates/footer'); -%>