<div class="datatable-pagination">
  <button type='button' class="btn btn-default datatable-paging-prev" disabled>
    <i class="mdi mdi-chevron-left"></i>
  </button>
  <span class="datatable-paging-info">- of -</span>
  <button type='button' class="btn btn-default datatable-paging-next">
    <i class="mdi mdi-chevron-right"></i>
  </button>
</div>