<% 
__DIALOG_TITLE__ = 'New Supplier'
__DIALOG_CONTENT__ = '/forms/new-inventory-supplier-form.html'
%>
<div class='filter'>
  <button
    class='btn btn-info add-new'
    data-toggle="modal"
    data-type="page-load"
    data-target="#dynamicDialog"
    data-title="<%= __DIALOG_TITLE__ %>"
    data-content="<%= __DIALOG_CONTENT__ %>"
    data-size="modal-lg"
  >
    <i class='mdi mdi-plus'></i>
    <span>New Supplier</span>
  </button>
  <div class='input-field search'>
    <div class="search-icon">
      <i class='mdi mdi-magnify'></i>
    </div>
    <input type="text" class="form-control" placeholder="Search" aria-label="Search">
    <a class="clear" href="#">
      <i class='mdi mdi-close-circle'></i>
    </a>
  </div>

  <%- include('../dropdown/datatable-filter-menu'); -%>
</div>