<% 
__DIALOG_TITLE__ = 'New Labs'
__DIALOG_CONTENT__ = '/forms/new-lab-form.html'
%>
<div class='toolbar'>
  <button
    type='button'
    class='btn btn-info'
    data-toggle='dialog'
    data-title="<%= __DIALOG_TITLE__ %>"
    data-content="<%= __DIALOG_CONTENT__ %>"
    data-type='ajax-form'
    data-size='modal-lg'
  >
    <i class='mdi mdi-flask-plus'></i>
    <span>New Lab</span>
  </button>
  
  <%- include('../dropdown/toolbar-sort-dropdown'); -%>
</div>