<% 
__DIALOG_TITLE__ = 'New Custom Form'
__DIALOG_CONTENT__ = '/forms/new-customform-form.html'
%>
<div class='toolbar'>
  <button
    type='button'
    class='btn btn-info'
    data-toggle='dialog'
    data-title="<%= __DIALOG_TITLE__ %>"
    data-content="<%= __DIALOG_CONTENT__ %>"
    data-type='ajax-form'
    data-size='modal-lg'
  >
    <i class="mdi mdi-plus"></i>
    <span>New Custom Form</span>
  </button>
  
  <%- include('../dropdown/toolbar-sort-dropdown'); -%>
</div>