<% 
__DIALOG_TITLE__ = 'New Vitals'
__DIALOG_CONTENT__ = '/forms/new-vitals-form.html'
%>
<div class='toolbar'>
  <button
    type='button'
    class='btn btn-info'
    data-toggle="modal"
    data-target="#dynamicDialog"
    data-title="<%= __DIALOG_TITLE__ %>"
    data-content="<%= __DIALOG_CONTENT__ %>"
    data-size="modal-lg"
  >
    <i class='mdi mdi-blood-bag'></i>
    <span>New Vitals</span>
  </button>
  <div class='sort dropdown'>
    <a href='#' class='sort-button' data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
      <i class='mdi mdi-filter-variant'></i>
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">
        <i class='mdi mdi-sort-ascending'></i>
        Sort Ascending
      </a>
      <a class="dropdown-item" href="#">
        <i class='mdi mdi-sort-descending'></i>
        Sort Descending
      </a>
    </div>
  </div>
</div>