<% 
__DIALOG_TITLE__ = 'New Todo'
__DIALOG_CONTENT__ = '/forms/new-todo-form.html'
%>
<div class='toolbar'>
  <button
    type='button'
    class='btn btn-info'
    data-toggle="modal"
    data-target="#dynamicDialog"
    data-title="<%= __DIALOG_TITLE__ %>"
    data-content="<%= __DIALOG_CONTENT__ %>"
    data-size="modal-lg"
  >
    <i class='mdi mdi-playlist-check'></i>
    New Todo
  </button>
  <div class='sort dropdown'>
    <a href='#' class='sort-button' data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
      <i class='mdi mdi-filter-variant'></i>
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">
        <i class='mdi mdi-playlist-check'></i>
        Show All
      </a>
      <a class="dropdown-item" href="#">
        <i class='mdi mdi-check'></i>
        Show Completed
      </a>
      <a class="dropdown-item" href="#">
        <i class='mdi mdi-close'></i>
        Show Incomplete
      </a>
    </div>
  </div>
</div>