<% 
__DIALOG_TITLE__ = 'New Notes'
__DIALOG_CONTENT__ = '/forms/new-notes-form.html'
%>
<div class='toolbar'>
  <button
    type='button'
    class='btn btn-info'
    data-toggle="modal"
    data-type="page-load"
    data-target="#dynamicDialog"
    data-title="<%= __DIALOG_TITLE__ %>"
    data-content="<%= __DIALOG_CONTENT__ %>"
    data-size="modal-xl"
  >
    <i class='mdi mdi-note-outline'></i>
    <span>New Notes</span>
  </button>
  
  <%- include('../dropdown/toolbar-sort-dropdown'); -%>
</div>