<% 
__DIALOG_TITLE__ = 'Update Social Background'
__DIALOG_CONTENT__ = '/forms/new-history-soc-form.html'
%>
<div class='toolbar clean'>
  <button
    type='button'
    class='btn btn-info'
    data-toggle="modal"
    data-type="page-load"
    data-target="#dynamicDialog"
    data-title="<%= __DIALOG_TITLE__ %>"
    data-content="<%= __DIALOG_CONTENT__ %>"
    data-size="modal-lg"
  >
    <i class='mdi mdi-history'></i>
    <span>Update</span>
  </button>
</div>