<div class='fab fab-patients dropup'>
  <button type='button' id="new-patients-menu" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
    <i class='mdi mdi-plus'></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right menu-icons" aria-labelledby='new-patients-menu'>
    <div class='dropdown-menu-container'>
      <div class='icon-list'>
        <button type='button' class="iconbtn primary lg">
          <i class='mdi mdi-warehouse'></i>
          <span>New Warehouse</span>
        </button>
        <button type='button' class="iconbtn primary lg">
          <i class='mdi mdi-diamond-stone'></i>
          <span>New Item</span>
        </button>
        <button type='button' class="iconbtn primary lg">
          <i class='mdi mdi-email-receive-outline'></i>
          <span>New Receiving</span>
        </button>
        <button type='button' class="iconbtn primary lg">
          <i class='mdi mdi-clipboard-edit-outline'></i>
          <span>New Adjustment</span>
        </button>
        <button type='button' class="iconbtn primary lg">
          <i class='mdi mdi-email-send-outline'></i>
          <span>New Invoice</span>
        </button>
        <button type='button' class="iconbtn primary lg">
          <i class='mdi mdi-account-network'></i>
          <span>New Supplier</span>
        </button>
      </div>
    </div>
  </div>
</div>