<div class='fab fab-patients dropup'>
  <a href='#' id="new-patients-menu" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
    <i class='mdi mdi-plus'></i>
  </a>
  <div class="dropdown-menu dropdown-menu-right menu-icons" aria-labelledby='new-patients-menu'>
    <div class='dropdown-menu-container'>
      <div class='icon-list'>
        <a class="iconbtn primary lg" href="#">
          <i class='mdi mdi-warehouse'></i>
          <span>New Warehouse</span>
        </a>
        <a class="iconbtn primary lg" href="#">
          <i class='mdi mdi-diamond-stone'></i>
          <span>New Item</span>
        </a>
        <a class="iconbtn primary lg" href="#">
          <i class='mdi mdi-email-receive-outline'></i>
          <span>New Receiving</span>
        </a>
        <a class="iconbtn primary lg" href="#">
          <i class='mdi mdi-clipboard-edit-outline'></i>
          <span>New Adjustment</span>
        </a>
        <a class="iconbtn primary lg" href="#">
          <i class='mdi mdi-email-send-outline'></i>
          <span>New Invoice</span>
        </a>
        <a class="iconbtn primary lg" href="#">
          <i class='mdi mdi-account-network'></i>
          <span>New Supplier</span>
        </a>
        <a class="iconbtn info lg" href="#">
          <i class='mdi mdi-file-document-multiple-outline'></i>
          <span>Inventory Report</span>
        </a>
        <a class="iconbtn info lg" href="#">
          <i class='mdi mdi-cash-usd-outline'></i>
          <span>Sales Report</span>
        </a>
      </div>
    </div>
  </div>
</div>