<div class='fab fab-patients dropup'>
  <button type='button' id="new-patients-menu" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
    <i class='mdi mdi-plus'></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right menu-icons" aria-labelledby='new-patients-menu'>
    <div class='dropdown-menu-container'>
      <div class='icon-list'>
        <button type='button' class="iconbtn primary lg">
          <i class='mdi mdi-card-account-details-outline'></i>
          <span>New Patient</span>
        </button>
        <button type='button' class="iconbtn primary lg">
          <i class='mdi mdi-flask'></i>
          <span>New Labs</span>
        </button>
        <button type='button' class="iconbtn primary lg">
          <i class='mdi mdi-eyedropper'></i>
          <span>New Test</span>
        </button>
        <button type='button' class="iconbtn primary lg">
          <i class='mdi mdi-blood-bag'></i>
          <span>New Vitals</span>
        </button>
        <button type='button' class="iconbtn primary lg">
          <i class='mdi mdi-pill'></i>
          <span>New Meds</span>
        </button>
        <button type='button' class="iconbtn primary lg">
          <i class='mdi mdi-shield-account'></i>
          <span>New Vaccine</span>
        </button>
        <button type='button' class="iconbtn primary lg">
          <i class='mdi mdi-note-outline'></i>
          <span>New Notes</span>
        </button>
        <button type='button' class="iconbtn primary lg">
          <i class='mdi mdi-image'></i>
          <span>New Image</span>
        </button>
        <button type='button' class="iconbtn primary lg">
          <i class='mdi mdi-playlist-check'></i>
          <span>New Todo</span>
        </button>
        <button type='button' class="iconbtn primary lg">
          <i class='mdi mdi-email-newsletter'></i>
          <span>New Request</span>
        </button>
        <button type='button' class="iconbtn primary lg">
          <i class='mdi mdi-newspaper-variant'></i>
          <span>New Custom Form</span>
        </button>
        <button type='button' class="iconbtn primary lg">
          <i class='mdi mdi-draw'></i>
          <span>New Custom Draw</span>
        </button>
      </div>
    </div>
  </div>
</div>