<div class='fab fab-patients dropup'>
  <a href='#' id="new-patients-menu" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
    <i class='mdi mdi-plus'></i>
  </a>
  <div class="dropdown-menu dropdown-menu-right menu-icons" aria-labelledby='new-patients-menu'>
    <a class="iconbtn" href="#">
      <i class='mdi mdi-account-details'></i>
      <span>New Patient</span>
    </a>
    <a class="iconbtn" href="#">
      <i class='mdi mdi-flask'></i>
      <span>New Labs</span>
    </a>
    <a class="iconbtn" href="#">
      <i class='mdi mdi-eyedropper'></i>
      <span>New Test</span>
    </a>
    <a class="iconbtn" href="#">
      <i class='mdi mdi-blood-bag'></i>
      <span>New Vitals</span>
    </a>
    <a class="iconbtn" href="#">
      <i class='mdi mdi-pill'></i>
      <span>New Meds</span>
    </a>
    <a class="iconbtn" href="#">
      <i class='mdi mdi-shield-account'></i>
      <span>New Vaccine</span>
    </a>
    <a class="iconbtn" href="#">
      <i class='mdi mdi-note-outline'></i>
      <span>New Notes</span>
    </a>
    <a class="iconbtn" href="#">
      <i class='mdi mdi-image'></i>
      <span>New Image</span>
    </a>
    <a class="iconbtn" href="#">
      <i class='mdi mdi-playlist-check'></i>
      <span>New Todo</span>
    </a>
    <a class="iconbtn" href="#">
      <i class='mdi mdi-frequently-asked-questions'></i>
      <span>New Request</span>
    </a>
    <a class="iconbtn" href="#">
      <i class='mdi mdi-newspaper-variant'></i>
      <span>New Custom Form</span>
    </a>
    <a class="iconbtn" href="#">
      <i class='mdi mdi-draw'></i>
      <span>New Custom Draw</span>
    </a>
  </div>
</div>