<div class='context-wrapper'>
  
  <div class='tabs'>
    <div class='tabs-container'>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Info</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-labs" role="tab" aria-controls="nav-profile" aria-selected="false">Labs</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-tests" role="tab" aria-controls="nav-contact" aria-selected="false">Tests</a>
        <a class="nav-item nav-link" id="nav-vitals-tab" data-toggle="tab" href="#nav-vitals" role="tab" aria-controls="nav-vitals" aria-selected="false">Vitals</a>
        <a class="nav-item nav-link" id="nav-meds-tab" data-toggle="tab" href="#nav-meds" role="tab" aria-controls="nav-meds" aria-selected="false">Meds</a>
        <a class="nav-item nav-link" id="nav-vaccines-tab" data-toggle="tab" href="#nav-vaccines" role="tab" aria-controls="nav-vaccines" aria-selected="false">Vaccines</a>
        <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab" aria-controls="nav-notes" aria-selected="false">Notes</a>
        <a class="nav-item nav-link" id="nav-histories-tab" data-toggle="tab" href="#nav-histories" role="tab" aria-controls="nav-histories" aria-selected="false">Histories</a>
        <a class="nav-item nav-link" id="nav-images-tab" data-toggle="tab" href="#nav-images" role="tab" aria-controls="nav-images" aria-selected="false">Images</a>
        <a class="nav-item nav-link" id="nav-todo-tab" data-toggle="tab" href="#nav-todo" role="tab" aria-controls="nav-todo" aria-selected="false">Todo</a>
        <a class="nav-item nav-link" id="nav-requests-tab" data-toggle="tab" href="#nav-requests" role="tab" aria-controls="nav-requests" aria-selected="false">Requests</a>
        <a class="nav-item nav-link" id="nav-customforms-tab" data-toggle="tab" href="#nav-customforms" role="tab" aria-controls="nav-customforms" aria-selected="false">Custom Forms</a>
        <a class="nav-item nav-link" id="nav-customdraw-tab" data-toggle="tab" href="#nav-customdraw" role="tab" aria-controls="nav-customdraw" aria-selected="false">Custom Draw</a>
      </div>
    </div>
    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <h1>Info</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam suscipit nemo error et facere dolore optio illo impedit dolor, omnis, dolorum voluptatibus deleniti? At ipsum officia earum nobis vitae? Modi.</p>
        <div style='width: 100%; height: 500px; background-color: gray; margin-bottom: 2rem'></div>
        <div style='width: 100%; height: 500px; background-color: gray; margin-bottom: 2rem'></div>
        <div style='width: 100%; height: 500px; background-color: gray; margin-bottom: 2rem'></div>
        <div style='width: 100%; height: 500px; background-color: gray; margin-bottom: 2rem'></div>
      </div>
      <div class="tab-pane fade" id="nav-labs" role="tabpanel" aria-labelledby="nav-labs-tab">
        <h1>Labs</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam suscipit nemo error et facere dolore optio illo impedit dolor, omnis, dolorum voluptatibus deleniti? At ipsum officia earum nobis vitae? Modi.</p>
        <div style='width: 100%; height: 500px; background-color: gray; margin-bottom: 2rem'></div>
        <div style='width: 100%; height: 500px; background-color: gray; margin-bottom: 2rem'></div>
        <div style='width: 100%; height: 500px; background-color: gray; margin-bottom: 2rem'></div>
        <div style='width: 100%; height: 500px; background-color: gray; margin-bottom: 2rem'></div>
      </div>
      <div class="tab-pane fade" id="nav-tests" role="tabpanel" aria-labelledby="nav-tests-tab">
        <h1>Tests</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam suscipit nemo error et facere dolore optio illo impedit dolor, omnis, dolorum voluptatibus deleniti? At ipsum officia earum nobis vitae? Modi.</p>
        <div style='width: 100%; height: 500px; background-color: gray; margin-bottom: 2rem'></div>
        <div style='width: 100%; height: 500px; background-color: gray; margin-bottom: 2rem'></div>
        <div style='width: 100%; height: 500px; background-color: gray; margin-bottom: 2rem'></div>
        <div style='width: 100%; height: 500px; background-color: gray; margin-bottom: 2rem'></div>
      </div>
    </div>
  </div>
</div>