.pika-single {
  font-size: 1rem;
}
.pika-lendar {
  width: unquote('min(320px, 80vw)');
}
.pika-table th, .pika-table td {
  width: 2rem;
}
.pika-button {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
  height: 2rem;
}

.tail-datetime-calendar {
  z-index: 6001;
}