.viewlist {
  .viewlist-wrapper {
    padding: 0;
    @include flex(flex-start, stretch);
    flex-wrap: nowrap;
  }
  
  .viewlist-sidebar {
    background-color: $white;
    border-right: 1px solid rgba($black, 0.1);
    
    @media #{$responsive-phone} {
      position: relative;
      width: 100vw;
    }
  }
  .viewlist-sidebar-wrapper {
    width: $aside-width;
    @include flex(flex-start, flex-start, column);
    min-height: calc(100vh - #{$contentToolbar-height}); /* Fallback for browsers that do not support Custom Properties */
    min-height: calc(var(--vh, 1vh) * 100 - #{$navbar-height} - (#{$contentToolbar-height} * 1));
    max-height: calc(100vh - #{$contentToolbar-height}); /* Fallback for browsers that do not support Custom Properties */
    max-height: calc(var(--vh, 1vh) * 100 - #{$navbar-height} - (#{$contentToolbar-height} * 1));

    @media #{$responsive-phone} {
      position: relative;
      width: 100%;
    }

    .list-container {
      @include applyScrollbar();
      flex-grow: 1;
      position: relative;
      overflow-y: auto;
      overflow-x: auto;
      width: 100%;
    
      touch-action: pan-y;
    }
  }

  .viewlist-content {
    flex-grow: 1;
    display: none;

    @media #{$responsive-phone} {
      flex-grow: 0;
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      z-index: 1000;
      @include flex(center, center);
      display: none;
      width: calc(100vw);
      height: calc(var(--vh, 1vh) * 100 - #{$navbar-height});
      -webkit-backface-visibility: hidden;
    }
  }

  .viewlist-content-dialog {
    position: relative;
    .close {
      position: absolute;
      z-index: 3;
      top: -1rem;
      right: -1rem;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: $red;
      opacity: 1;
      color: $white;
      font-size: 2rem;
      @include flex(center, center);
      display: none;

      &:hover {
        background-color: darken($red, 10%);
        opacity: 1 !important;
      }
      
      @media #{$responsive-phone} {
        display: flex;
      }
    }
  }

  .viewlist-content-wrapper {
    padding: 0 1rem;
    background-color: $white;
    @media #{$responsive-phone} {
      position: relative;
      z-index: 2;
      width: calc(100vw - 4rem);
      min-height: 8rem;
      max-height: calc(var(--vh, 1vh) * 100 - #{$navbar-height} - 4rem);
      overflow-y: auto;
      overflow-x: hidden;
      border-radius: 0.2rem;
      padding: 0;
    }

    .content-title {
      @media #{$responsive-phone} {
        padding: 1rem 1rem;
        margin-bottom: 0;
      }
    }

    .content-context {
      @media #{$responsive-phone} {
        max-height: calc(var(--vh, 1vh) * 100 - #{$navbar-height} - 4rem - 200px);
        @include applyScrollbar();
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
      }
      > img {
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 1rem;
        @media #{$responsive-phone} {
          margin-bottom: 0;
        }
      }
    }

    .content-context-wrapper {
      @media #{$responsive-phone} {
        padding: 1rem;
      }
    }

    .content-footer {
      border-top: 1px solid rgba($black, 0.1);
      padding: 1rem 0;
      @include flex(flex-end, center);
      @media #{$responsive-phone} {
        padding: 1rem;
      }

      .btn {
        &:not(:last-of-type) {
          margin-right: 0.5rem;
        }
        
        @media #{$responsive-phone} {
          min-height: 2.5rem;
          min-width: 3rem;
          @include flex(center, center);
          > span {
            display: none;
          }
          i, .mdi {
            margin: 0;
            font-size: 1.25rem;
          }
        }
      }
    }
  }

  .viewlist-content-overlay {
    display: none;
    @media #{$responsive-phone} {
      display: block;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100vw;
      height: calc(var(--vh, 1vh) * 100);
      background-color: rgba($black, 0.5);
      -webkit-backface-visibility: hidden;
    }
  }

  &.show-viewlist-context {
    .viewlist-content {
      display: block;
      @media #{$responsive-phone} {
        display: flex;
      }
    }
  }
}

.tab-pane.active {
  .viewlist-sidebar {
    position: fixed;
    -webkit-backface-visibility: hidden;
  }
  .viewlist-content {
    margin-left: calc(#{$aside-width} + 1px);
    @media #{$responsive-phone} {
      margin-left: 0;
    }
  }
}