.main {
  > .content {
    position: relative;
    margin-top: $navbar-height;
    margin-left: $sidebar-width;
    position: relative;
    height: auto;
    width: 100%;

    @include flex(flex-start, flex-start);

    @media #{$responsive-tablet} {
      margin-top: 0;
      margin-left: 0;
      flex-direction: column;
    }

    .aside {
      position: fixed;
      top: $navbar-height;
      left: $sidebar-width;
      width: $aside-width;
			height: calc(100vh - #{$navbar-height}); /* Fallback for browsers that do not support Custom Properties */
			height: calc(var(--vh, 1vh) * 100 - #{$navbar-height});
      color: $sidebar-textcolor;
      transition: transform 0.15s ease-out;

      @media #{$responsive-tablet} {
        left: 0rem;
      }

      @media #{$responsive-phone} {
        position: relative;
        top: auto;
        left: auto;
        height: auto;
        width: 100%;
      }
    }

    .content-wrapper {
      width: calc(100vw - #{$sidebar-width});
      height: auto;
      padding: 0;

      @media #{$responsive-tablet} {
        width: calc(100vw);
      }

      .content-body {
        width: 100%;
        height: calc(100vh - #{$navbar-height} - #{$contentToolbar-height}); /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100 - #{$navbar-height} - #{$contentToolbar-height});
        position: relative;
        // overflow: hidden;
        @include applyScrollbar();
        overflow-y: auto;
        overflow-x: hidden;
      }

      .ps__rail-y {
        z-index: 10;
      }

      .context-container {
        padding: 1rem;
      }

      .tabs-container {
        width: calc(100vw - #{$sidebar-width});
        @media #{$responsive-tablet} {
          width: 100%;
        }
      }

      .tab-content {
        position: relative;
      }
    }

    &.has-aside {
      .content-wrapper {
        margin-left: calc(#{$aside-width});
        width: calc(100vw - #{$sidebar-width} - #{$aside-width});
        @media #{$responsive-tablet} {
          margin-left: calc(#{$aside-width});
          width: calc(100vw - #{$aside-width});
        }
        @media #{$responsive-phone} {
          margin-left: 0;
          width: 100vw;
          padding: 0;
          position: absolute;
          z-index: 2;
          margin-left: 0;
          width: 100%;
          // height: calc(100vh - #{$navbar-height});
          height: calc(100vh - #{$navbar-height}); /* Fallback for browsers that do not support Custom Properties */
          height: calc(var(--vh, 1vh) * 100 - #{$navbar-height});
          overflow: hidden;
          top: 0;
          left: 0;
          background-color: $body-bgcolor;
          transform: translateX(-100%);
          transition: transform 0.15s ease-out;
        }
        .tabs-container {
          width: calc(100vw - #{$sidebar-width} - #{$aside-width});
          @media #{$responsive-tablet} {
            width: calc(100vw - #{$aside-width});
          }
          @media #{$responsive-phone} {
            width: 100%;
          }
        }
      }
    }
  }
}

.content-controls {
  @include flex(flex-start, center);
  display: none;
  margin-right: 0.5rem;

  .control-hide {
    color: rgba($black, 0.8);
    &:hover {
      color: $primary-color;
    }
    i, .mdi {
      font-size: 2rem;
    }
  }
}

// EVENTS

body.show-context {
  .main {
    > .content {
      .content-wrapper {
        @media #{$responsive-phone} {
          transform: translateX(0);
        }
      }
    }
  }
  .content-controls {
    @media #{$responsive-phone} {
      display: flex;
    }
  }
}