.main {
  > .navbar {
    padding: 0 1rem;
    height: $navbar-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $navbar-bgcolor;
    color: $navbar-textcolor;
    z-index: 1300;
    transition: box-shadow 0.15s ease-out;
    @include flex(flex-start, center);

    .navbar-left {
      @include flex(flex-start, center);
      flex-grow: 1;
    }

    .navbar-right {
      @include flex(flex-end, center);
      flex-grow: 1;
    }

    .burger {
      width: 2rem;
      height: 2rem;
      @include flex(center, center);
      margin: 0;
      color: $black;
      transition: color 0.15s ease-out;

      &:hover {
        color: $primary-color;
      }

      i, .mdi {
        font-size: 2rem;
        margin: 0;
      }
    }

    .navbar-actions {
      @include flex(flex-end, center);
    }

    .account-button {
      position: relative;
      cursor: pointer;

      .avatar {
        border: 1px solid $white;
      }

      .dropdown-menu {
        right: 0;
        left: auto;
      }
    }
  }
}

// EVENTS
body.page-scrolled {
  .main {
    > .navbar {
      box-shadow: $box-shadow;
    }
  }
}