.main {
  > .navbar {
    padding: 0 1rem;
    height: $navbar-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $navbar-bgcolor;
    color: $navbar-textcolor;
    z-index: 1300;
    transition: box-shadow 0.15s ease-out;
    @include flex(flex-start, center);
    -webkit-backface-visibility: hidden;

    .navbar-left {
      @include flex(flex-start, center);
      flex-grow: 1;
    }

    .navbar-center {
      @include flex(center, center);
      flex-grow: 1;
      font-weight: bold;
      font-size: 1.2rem;

      @media #{$responsive-phone} {
        width: calc(100vw - (2rem * 6));
        width: calc(var(--vw, 1vw) * 100 - (2rem * 6));
      }

      p {
        text-align: center;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0;
        padding: 0;
      }
    }

    .navbar-right {
      @include flex(flex-end, center);
      flex-grow: 1;
    }

    .burger {
      @include flex(center, center);
      box-sizing: border-box;
      border: none;
      background-color: transparent;
      outline: none;
      color: rgba($black, 0.8);
      width: 2rem;
      height: 2rem;
      margin: 0;
      color: $black;
      transition: color 0.15s ease-out;

      &:hover {
        color: $primary-color;
      }

      i, .mdi {
        font-size: 2rem;
        line-height: 1;
      }
    }

    .navbar-actions {
      @include flex(flex-end, center);
    }

    .account-button {
      position: relative;
      cursor: pointer;

      .avatar {
        border: 1px solid $white;
      }
    }
  }
}

// EVENTS
body.page-scrolled {
  .main {
    > .navbar {
      box-shadow: $box-shadow;
    }
  }
}