.toolbar {
  position: relative;
  width: calc(100%);
  @include flex(flex-start, center);
  padding: 0 1rem;
  min-height: $contentToolbar-height;
  border-bottom: 1px solid rgba($black, 0.1);

  .btn {
    &[data-toggle="modal"], &[data-toggle="dialog"] {
      flex-grow: 1;
      @include flex(center, center);
      padding: 0 1rem;
      line-height: 2;
      font-size: 1rem;
      margin-right: 1rem;
      i, .mdi {
        font-size: inherit;
      }
    }
  }

  &.clean {
    border-bottom: none;
    width: auto;
    padding: 0;

    .btn {
      flex-grow: 0;
      margin: 0;
    }
  }

  // .toolbar-portable-button
  &-portable-button {
    display: none;

    @media #{$responsive-phone} {
      display: block;
    }
  }

  // .toolbar-portable
  &-portable {
    position: relative;
    clear: both;
    float: none;
    top: auto;
    left: auto;
    min-width: auto;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    border: none;
    margin: 0;
    width: 100%;
    @include flex(flex-start, center);

    @media #{$responsive-phone} {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 10rem;
      width: auto;
      padding: 0.5rem 0;
      margin: 0.125rem 0 0;
      font-size: 1rem;
      color: #212529;
      text-align: left;
      list-style: none;
      background-color: #FFF;
      background-clip: padding-box;
      border: 1px solid rgba(26, 26, 26, 0.15);
      border-radius: 0.25rem;

      .form-group {
        margin: 0 !important;
        padding: 0.5rem 1rem;
        @include flex(flex-start, flex-start, column, !important);
        flex-direction: column !important;
      }
    }

    @media #{$responsive-tablet} {
      .form-group {
        &:last-of-type {
          margin: 0;
        }
      }
      .btn {
        min-height: 2.5rem;
        min-width: 3rem;
        @include flex(center, center);
        > span {
          display: none;
        }
        i, .mdi {
          margin: 0;
          font-size: 1.25rem;
        }
      }
    }
  }
}



.sort {
  position: relative;
  .sort-button {
    color: rgba($black, 0.5);
    &:hover {
      color: $primary-color;
    }
    i, .mdi {
      font-size: 2rem;
    }
  }

  .dropdown-item {
    i, .mdi {
      margin-right: 0.5rem;
      font-size: 1.5rem;
    }
  }
}